.account {
    --account-padding: 28px;
}

.account {

}
    .account__heading {

    }

    .account__description {
        margin-top: 16px;
    }

    .account__body {
        margin-top: 32px;
        display: grid;
        grid-template-columns: minmax(0, 850fr) minmax(0, 330fr);
        gap: var(--container-padding);
    }
        .account__content {

        }
            .account__widget {
                margin-top: 22px;
                padding: 23px var(--account-padding) 42px;
                background-color: #ffffff;
                border-radius: 10px;
            }

            .account__widget:first-child {
                margin-top: 0;
            }
                .account__widget-heading {

                }

                .account__widget-body {
                    margin-top: 26px;
                }
                    .account__form {
                        display: grid;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                        gap: 20px var(--account-padding);
                    }

                    @media (width < 1500px) {
                        .account__form {
                            grid-template-columns: repeat(1, minmax(0, 1fr));
                        }
                    }

                        .account__field {
                            display: grid;
                            grid-template-columns: minmax(0, 120fr) minmax(0, 240fr);
                            gap: 12px;
                        }

                    .account__picture {
                        margin-top: -22px;
                        margin-bottom: -8px;
                        display: grid;
                        grid-template-columns: minmax(0, 1fr) auto;
                        align-items: center;
                        gap: 32px;
                    }
                        .account__picture-heading {

                        }

                        .account__picture-preview {

                        }

        .account__sidebar {
            background-color: #ffffff;
            border-radius: 10px;
        }

    .account__submit {
        margin-top: 22px;
    }
