.actions-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.actions-menu--4-columns {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (width < 1600px) {

    .actions-menu--4-columns {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (width < 1500px) {

    .actions-menu--4-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}
