.basics {
    padding: var(--checkout-padding) var(--checkout-padding) calc(var(--checkout-padding) + 18px);
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .basics__heading {

    }

    .basics__form {
        margin-top: 18px;
    }

    .form {
        max-width: 560px;
    }
        .form__row {
            margin-top: 12px;
            display: grid;
            align-items: start;
            grid-template-columns: minmax(0, 190fr) minmax(0, 350fr);
            gap: 20px;
        }

        .form__row:first-child {
            margin-top: 0;
        }
            .form__label {
                min-height: 40px;
                display: flex;
                align-items: center;
            }

            .form__field {
                min-height: 40px;
                display: flex;
                align-items: center;
            }
                .form__widget {
                    flex-grow: 1;
                }

            .basics__field--halved {

            }
                .basics__field--halved .input {
                    width: 50%;
                }

            .basics__field--tripled {

            }
                .basics__field--tripled .input {
                    width: 33.3333%;
                }
