.bubble-context {
    position: relative;
    width: fit-content;
}

.bubble {
    position: absolute;
    right: 50%;
    bottom: 100%;
    padding-bottom: 4px;
    border-bottom: 0 solid transparent; /* animation here */
    transform: translateX(50%);
    z-index: 500;
    display: block;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    cursor: text;
}
    .bubble__body {
        position: relative;
        display: block;
        box-shadow: var(--shadow-light);
        border-radius: 8px;
        font-family: var(--font);
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        color: inherit;
        white-space: nowrap;
        text-transform: none;
        text-align: left;
        text-indent: 0;
    }
        .bubble__chevron {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background-color: var(--hover-over-white);
            box-shadow: var(--shadow-light);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .bubble__background {
            position: relative;
            padding: 12px 16px;
            background-color: var(--hover-over-white);
            border-radius: 8px;
        }


/* Touch + script */
.bubble--visible {
    opacity: 1;
    visibility: visible;
    border-bottom-width: 10px; /* hover animation */
}


/* Mouse */
@media (hover: hover) {
    .bubble-context:hover .bubble {
        opacity: 1;
        visibility: visible;
        border-bottom-width: 10px; /* hover animation */
        transition: opacity 300ms ease 0.15s,
                    visibility 300ms ease 0.15s,
                    border-bottom-width 300ms ease 0.15s;
    }
}


