.cases {
    padding: var(--checkout-padding) var(--checkout-padding) calc(var(--checkout-padding) + 20px);
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .cases__heading {

    }

    .cases__navigation {
        margin-top: 24px;
    }

    .cases__body {

    }
        .cases__tab {
            margin-top: 24px; /* move margin to here from cases__body in case there is no active tab (no need spacing at all) */
            display: none;
        }

        .cases__tab--current {
            display: block;
            animation: slide-down 500ms var(--ease-out-quint);
        }

            /* First tab */

            .cases__list {

            }
                .cases__item {
                    margin-top: 28px;
                    border-top: 1px solid var(--light-gray);
                    padding-top: 28px;
                }

                .cases__item:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }


            /* Second tab */

            .cases__previous-video {

            }


            /* Third tab */

            .cases__fieldset {
                margin-top: 24px;
            }

            .cases__fieldset:first-child {
                margin-top: 0;
            }
                .cases__field {
                    margin-top: 18px;
                }

    .cases__notes {
        margin-top: 48px;
    }
