.checkboxes-menu {
    display: flex;
    align-items: flex-start;
    gap: 16px 20px;
}
    .checkboxes-menu__item {
        flex-grow: 1;
    }


.checkboxes-menu--fixed-width {

}
    .checkboxes-menu--fixed-width .checkboxes-menu__item {
        flex-basis: 0;
    }


.checkboxes-menu--two-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
    .checkboxes-menu--two-columns .checkboxes-menu__item {

    }



.title .checkboxes-menu {
    margin-left: 16px;
    display: inline-flex;
    vertical-align: top;
    gap: 12px;
}
