.checkout {

}
    .checkout__heading {

    }

    .checkout__description {
        margin-top: 8px;
    }

    .checkout__navigation {
        margin-top: 22px;
    }

    .checkout__body {
        margin-top: 24px;
    }

    .checkout__footer {
        margin-top: 24px;
        display: flex;
        align-items: flex-start;
    }
        .checkout__save-draft {

        }

        .checkout__next {
            margin-left: auto;
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
