.checkout {

}

.checkout--lite {
    --blue: var(--pink);
    --blue-hover: var(--pink-hover);
    --blue-50pct: var(--pink-50pct);
}

    .checkout__heading {

    }

    .checkout__tabs {
        margin-top: 24px;
        width: 400px;
        background-color: #ffffff;
        border-radius: 24px;
        padding: 24px;
    }

    .checkout__notification {
        margin-top: 24px;
    }

    .checkout__description {
        margin-top: 8px;
    }

    .checkout__navigation {
        margin-top: 22px;
        background-color: #ffffff;
        border-radius: var(--radius);
        overflow: hidden; /* can rounded corners (when scrolled) */
    }

    .checkout__sub-heading {
        margin-top: 28px;
    }

    .checkout__body {
        margin-top: 24px;
        display: flex;
        gap: var(--container-padding);
    }
        .checkout__content {
            flex-grow: 1;
            min-width: 0; /* Override default "min-width: auto" so the flex item won't stretch over the flex (if filled with longer content) */
        }
            .checkout__content-widget {

            }

            .checkout__footer {
                margin-top: 24px;
                display: flex;
                align-items: flex-start;
            }
                .checkout__save-draft {

                }

                .checkout__next {
                    margin-left: auto;
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                }

        .checkout__aside {
            flex-shrink: 0;
            width: 50%;
        }
            .checkout__aside-widget {

            }


.checkout__aside--smaller {
    width: 300px;
}

.checkout__aside--sticky {

}
    .checkout__aside--sticky .checkout__aside-widget {
        position: sticky;
        top: var(--header-height);
        margin-bottom: 68px; /* height of checkout__footer */
    }
