.check-list {
    --check-list-padding: 24px;
}
    /* override all choices inside */
    .check-list .choice {
        --choice-outset: 0;
    }

    .check-list .choice {
        border-radius: 0;
        padding-left: var(--check-list-padding);
        padding-right: var(--check-list-padding);
    }

    .check-list__heading {

    }
        .check-list__heading .choice {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
            .check-list__heading .choice__icon {
                margin-top: 4px;
            }

    .check-list__section {

    }
        .check-list__section-heading {
            padding: 15px var(--check-list-padding) 9px;
            font-size: 15px;
            line-height: 22px;
        }

        .check-list__sub-list {

        }
            .check-list__sub-list .choice {
                padding-left: 48px;
                background-image: linear-gradient(to right, transparent, transparent 32px, #d5d5d5 32px, #d5d5d5 33px, transparent 33px, transparent);
            }



@media (width < 1500px) {

    .check-list {
        --check-list-padding: 16px;
    }
        .check-list .choice {

        }

        .check-list__heading {

        }
            .check-list__heading .choice {

            }
                .check-list__heading .choice__icon {

                }

        .check-list__section {

        }
            .check-list__sub-list {

            }
                .check-list__sub-list .choice {
                    padding-left: 32px;
                    background-image: linear-gradient(to right, transparent, transparent 20px, #d5d5d5 20px, #d5d5d5 21px, transparent 21px, transparent);
                }
}
