.clients-payment {

}
    .clients-payment__totals {
        padding: 4px 8px 0;
    }
        .clients-payment__totals-heading {

        }

        .clients-payment__list {
            margin-top: 16px;
        }

    .clients-payment__payment-details {
        margin-top: 40px;
    }
        .clients-payment__payment-details-heading {
            padding-left: 8px;
            padding-right: 8px;
        }

        .clients-payment__data {
            margin-top: 16px;
        }
