.client-payment {
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .client-payment__totals {
        padding: var(--project-subpage-padding);
        padding-bottom: 0;
    }
        .client-payment__totals-heading {

        }

        .client-payment__list {
            margin-top: 16px;
        }

    .client-payment__payment-details {
        margin-top: 40px;
    }
        .client-payment__payment-details-heading {
            padding-left: var(--project-subpage-padding);
            padding-right: var(--project-subpage-padding);
        }

        .client-payment__data {
            padding: var(--project-subpage-with-table-padding);
        }
