.client-video {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
    .client-video__body {
        padding: var(--project-subpage-with-table-padding);
        background-color: #ffffff;
        border-radius: var(--radius);
    }

    .client-video__add {

    }
