.commenting {
    padding: 10px 19px 26px;
}
    .commenting__heading {

    }

    .commenting__field {
        margin-top: 10px;
    }

    .commenting__permissions-description {
        margin-top: 20px;
    }

    .commenting__permissions-list {

    }
