.content {
    display: flex;
    align-items: stretch;
    gap: var(--container-padding);
    padding: var(--header-height) var(--container-padding) var(--page-bottom-padding);
    margin-left: var(--sidebar-outer-width);
    transition: margin var(--transition-sidebar);
}
    .content__body {
        flex-grow: 1;
    }

    .content__aside {
        flex-shrink: 0;
        width: calc(var(--aside-width) - var(--container-padding));
    }
        .content__sticky-aside-part {
            position: sticky;
            top: var(--header-height);
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
