.content {
    display: flex;
    align-items: stretch;
    gap: var(--container-padding);
    padding: var(--header-height) var(--container-padding) var(--page-bottom-padding);
    margin-left: var(--sidebar-outer-width);
    transition: margin var(--transition-sidebar);
}
    .content__body {
        flex-grow: 1;
        min-width: 0; /* Override default "min-width: auto" so the flex item won't stretch over the flex (if filled with longer content) */
    }

    .content__aside {
        flex-shrink: 0;
        width: calc(var(--aside-width));
    }
        .content__sticky-aside-part {
            position: sticky;
            top: var(--header-height);
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

@media (width < 1240px), (height < 540px) {

    .content__sticky-aside-part {
        position: static;
    }
}
