.create {
    position: relative;
}
    .create__handler {

    }
        .create__handler .button {
            box-shadow: var(--shadow);
        }

        .create--expanded .create__handler .button {
            background-color: var(--blue-hover);
            box-shadow: none;
        }

    .create__dropdown {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: calc(100% + 5px);
        display: none;
    }

    .create--expanded .create__dropdown {
        display: block;
    }

        .create__variants {
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 5px;
        }
            .create__variants .button {
                width: 100%;
            }

        .create__close {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% + 5px);
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
