.definitions {
    display: table;
    vertical-align: top;
    width: fit-content;
    border-collapse: collapse;
}
    .definitions__item {
        display: table-row;
        border-top: 10px solid transparent;
    }

    .definitions__item:first-child {
        border-top: none;
    }
        .definitions__term {
            display: table-cell;
            vertical-align: top;
            padding: 0;
            font-weight: 500;
            font-size: var(--base-font-size);
            line-height: var(--base-line-height);
            color: var(--gray);
        }

        .definitions__details {
            display: table-cell;
            vertical-align: top;
            padding: 0 0 0 28px;
        }

    .definitions__more {
        margin-top: 24px;
    }



@media (width < 1500px) {

    .definitions {
        display: block;
        width: auto;
    }
        .definitions__item {
            display: block;
            border: none;
            margin-top: 14px;
        }

        .definitions__item:first-child {
            margin-top: 0;
        }
            .definitions__term {
                display: block;
                /*font-weight: 500;*/
                /*font-size: var(--base-font-size);*/
                /*line-height: var(--base-line-height);*/
                /*color: var(--gray);*/
            }

            .definitions__details {
                margin-top: 4px;
                display: block;
                /*vertical-align: top;*/
                padding: 0;
            }

        .definitions__more {
            /*margin-top: 24px;*/
        }
}
