.definitions {

}
    .definitions__item {
        margin-top: 14px;
    }

    .definitions__item:first-child {
        margin-top: 0;
    }
        .definitions__term {
            font-weight: 500;
            font-size: var(--base-font-size);
            line-height: var(--base-line-height);
            color: var(--gray);
        }

        .definitions__details {
            margin-top: 4px;
        }

    .definitions__more {
        margin-top: 24px;
    }

