.dropdown {
    position: relative;
    width: fit-content;
}
    .dropdown__handler {

    }

    .dropdown__body {
        position: absolute;
        z-index: 200;
        right: 0;
        top: calc(100% + 8px);
        display: none;
    }

.dropdown--expanded {

}
    .dropdown--expanded .dropdown__handler .button {
        background-color: var(--hover-over-white);
    }

    .dropdown--expanded .dropdown__body {
        display: block;
    }
