.editor {

}
    .editor__summary {
        position: relative;
        padding: var(--project-subpage-padding);
        background-color: #ffffff;
        border-radius: var(--radius);
    }
        .editor__summary-heading {

        }

        .editor__summary-actions {
            position: absolute;
            right: var(--project-subpage-padding);
            top: var(--project-subpage-padding);
            display: flex;
            align-items: flex-start;
            gap: 8px;
        }

        .editor__summary-body {
            margin-top: 20px;
        }

    .editor__data {
        margin-top: 26px;
        padding: var(--project-subpage-padding);
        background-color: #ffffff;
        border-radius: var(--radius);
    }

    .editor__payment {
        margin-top: 44px;
        position: relative;
        padding: var(--project-subpage-padding);
        background-color: #ffffff;
        border-radius: var(--radius);
    }
        .editor__payment-heading {

        }

        .editor__payment-full-value {
            position: absolute;
            right: var(--project-subpage-padding);
            top: var(--project-subpage-padding);
        }

        .editor__payment-details {
            margin-top: 8px;
            padding-bottom: 12px;
        }
