.enter {
    --enter-v-padding: 10px;
    --enter-bottom: 52px;
}

.enter {
    position: relative;
    padding: 1px;
    border-radius: 20px;
    background-image: linear-gradient(var(--pink), var(--blue));
}

.enter:has(.enter__input:focus) {
    background-color: var(--blue);
    background-image: none;
}
    .enter__input {
        vertical-align: top;
        width: 100%;
        height: auto; /* user rows="" attribute to set a default height */
        min-height: 40px; /* 1 row */
        max-height: calc(10 * 20px + 2 * var(--enter-v-padding)); /* rows + paddings */
        scrollbar-width: thin;
        padding: var(--enter-v-padding) 60px var(--enter-v-padding) 12px;
        resize: none;
        background-color: #ffffff; /* reset grey background in some cases, such as <select> */
        background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: none;
        outline: none;
        border-radius: 19px;
        font-family: inherit;
        font-size: 15px;
        line-height: 20px;
        color: var(--black);
        letter-spacing: -0.025em;
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
    }

    .enter__input::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: var(--placeholder-color);
    }

    .enter__input:hover {
        border-color: var(--input-border-hover);
    }

    .enter__input:focus-visible {
        border-color: var(--input-border-focus);
        transition: none;
    }

    .enter__submit {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
        /* background & hover */
        .enter__submit::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            display: block;
            width: 38px;
            height: 38px;
            background-color: var(--pink);
            border-radius: 50%;
        }

        .enter__submit:hover::before {
            background-color: var(--blue);
        }

        .enter__submit .icon {
            position: relative;
            left: 2px;
            color: #ffffff;
        }


/* Disabled */
.enter__input:disabled {
    border-color: var(--input-border);
    background-color: var(--disabled-background);
    color: var(--disabled-color);
}

.enter__input:disabled::placeholder {
    color: var(--disabled-color);
}


/* Error */
.enter--error {

}
    .enter--error .enter__input {
        color: var(--error);
        border-color: var(--error);
    }

    .enter--error .enter__input:hover {
        border-color: var(--input-border-focus);
    }

    .enter--error .enter__input::placeholder {
        color: var(--error);
    }

