.explain {
    display: inline-block;
    vertical-align: top;
}
    .explain__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: help;
    }
        .explain__icon .icon {
            font-size: 16px;
            line-height: 16px;
            color: inherit;
        }

    .explain .bubble {
        bottom: calc(100% - 10px);
    }


.explain--36px {

}
    .explain--36px .explain__icon {
        width: 36px;
        height: 36px;
    }

    .explain--36px .explain__icon .icon {
        font-size: 15px;
    }

    .explain--36px .bubble {
        bottom: calc(100% - 9px);
    }


.explain--32px {

}
    .explain--32px .explain__icon {
        width: 32px;
        height: 32px;
    }

    .explain--32px .explain__icon .icon {
        font-size: 14px;
    }

    .explain--32px .bubble {
        bottom: calc(100% - 8px);
    }
