.find {
    position: relative;
}
    .find__icon {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        pointer-events: none;
    }

        .find__icon .icon {
            font-size: 18px;
            line-height: 18px;
            color: var(--gray);
        }

        .find__input {
            vertical-align: top;
            width: 100%;
            height: 40px;
            padding: 9px 12px 9px 32px;
            background-color: #ffffff; /* reset grey background in some cases, such as <select> */
            background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
            border: 1px solid var(--input-border);
            outline: none;
            border-radius: 20px;
            font-family: inherit;
            font-size: 14px;
            line-height: 20px;
            color: var(--black);
            letter-spacing: -0.025em;
            opacity: 1; /* reset select:disabled default fade on iOS */
            -webkit-tap-highlight-color: transparent;
        }

        .find__input::placeholder {
            opacity: 1; /* reset opacity drop Firefox */
            color: var(--placeholder-color);
        }

        .find__input:hover {
            border-color: var(--input-border-hover);
        }

        .find__input:focus-visible {
            border-color: var(--input-border-focus);
        }
