.footage {
    padding: var(--checkout-padding) var(--checkout-padding) calc(var(--checkout-padding) + 20px);
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .footage__heading {

    }

    .footage__navigation {
        margin-top: 24px;
    }

    .footage__body {

    }
        /* First tab */

        .footage__field {
            margin-top: 18px;
        }

        .footage__field:first-child {
            margin-top: 0;
        }


        /* Second tab */


        /* Third tab */


        /* Fourth tab */
