.form {
    --form-max-width: 560px;
    --form-label-width: 33.3333%;
}

.form {
    max-width: var(--form-max-width);
}
    .form__row {
        margin-top: 12px;
        display: grid;
        grid-template-columns: var(--form-label-width) auto;
        align-items: start;
        gap: 20px;
    }

    .form__row:first-child {
        margin-top: 0;
    }

    .form__row--no-margin {
        margin-top: 0;
    }
        .form__label {
            min-height: 40px;
            display: flex;
            align-items: center;
        }

        .form__field {
            min-height: 40px;
            display: flex;
            align-items: center;
        }
            .form__widget {
                flex-grow: 1;
            }

        .form__field--halved {

        }
            @media (width >= 1500px) {

                /* shrink only input here leaving helper to take all the width */
                .form__field--halved .input {
                    width: 50%;
                }
            }
