.gallery {
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
    .gallery__head {
        display: flex;
        align-items: flex-start;
    }
        .gallery__heading {
            margin-top: -8px;
        }

        .gallery__actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 10px;
        }
            .gallery__search {
                width: 284px;
            }

            .gallery__filter {

            }
                .gallery__filter .icon {
                    margin-left: -4px;
                }

            .gallery__view {

            }

    .gallery__list-view {
        margin-top: 30px;
    }

    .gallery__grid-view {

    }
        .gallery__section {
            margin-top: 20px;
        }

        .gallery__section:first-child {
            margin-top: 0;
        }

            .gallery__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }

            .gallery__list {
                margin-top: 12px;
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                gap: 20px;
            }


            @media (width < 1500px) {
                .gallery__list {
                    margin-top: 12px;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 20px;
                }
            }
