.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: var(--sidebar-outer-width);
    transition: left var(--transition-sidebar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    background-color: var(--body-background);
}
    .header::before {
        content: ""; /* pusher */
        height: 100%;
    }

    .header__search {
        width: 584px;
        flex-shrink: 0;
    }

    .header__operations {
        display: flex;
        align-items: center;
    }
        .header__new-project {
            margin-left: 16px;
        }

        .header__user {
            margin-left: 24px;
        }


@media (width < 1500px) {
    .header__search {
        width: 440px;
    }
}


@media (width < 1240px), (height < 540px) {

    .header {
        position: absolute;
    }
}
