.helper {
    padding-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
}

.helper--error {
    color: var(--error);
}

.helper + .helper {
    padding-top: 4px;
}

.helper--smaller {
    font-size: 13px;
    line-height: 18px;
}
