.icon-action {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.icon-action:active {
    translate: 0 1px;
}
    .icon-action::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .icon-action:hover::before {
        background-color: var(--hover-over-white);
    }

    .icon-action .icon {
        position: relative;
        font-size: 18px;
        line-height: 18px;
        color: var(--blue);
    }


.icon-action:disabled,
.icon-action:disabled:hover,
.icon-action:disabled:active {
    background-color: var(--disabled-background);
    box-shadow: none; /* cancel border in outlined icon-actions */
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}
    .icon-action .icon {

    }


.icon-action--black .icon {
    color: var(--black);
}

.icon-action--gray .icon {
    color: var(--gray);
}


.icon-action--white {

}
    .icon-action--white:hover::before {
        background-color: rgb(255 255 255 / 15%);
    }

    .icon-action--white .icon {
        color: #ffffff;
    }


.icon-action--hover-over-gray {

}
    .icon-action--hover-over-gray:hover::before {
        background-color: var(--hover-over-gray);
    }


.icon-action--44px {
    width: 44px;
    height: 44px;
}
    .icon-action--44px::before {
        width: 36px;
        height: 36px;
    }

    .icon-action--44px .icon {
        font-size: 22px;
        line-height: 22px;
    }




.icon-action--36px {
    width: 36px;
    height: 36px;
}
    .icon-action--36px::before {
        width: 28px;
        height: 28px;
    }

    .icon-action--36px .icon {
        font-size: 17px;
        line-height: 17px;
    }



.icon-action--32px {
    width: 32px;
    height: 32px;
}
    .icon-action--32px::before {
        width: 26px;
        height: 26px;
    }

    .icon-action--32px .icon {
        font-size: 16px;
        line-height: 16px;
    }
