.input {
    position: relative;
}
    .input__widget {
        vertical-align: top;
        width: 100%;
        height: 40px;
        padding: 9px 12px;
        background-color: #ffffff; /* reset grey background in some cases, such as <select> */
        background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: 1px solid var(--input-border);
        outline: none;
        border-radius: 5px;
        font-family: inherit;
        font-size: 15px;
        line-height: 20px;
        color: var(--black);
        letter-spacing: -0.025em;
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
    }

    .input__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: var(--placeholder-color);
    }

    .input__widget:hover {
        border-color: var(--input-border-hover);
    }

    .input__widget:focus-visible {
        border-color: var(--input-border-focus);
    }


.input--height-32px {

}
    .input--height-32px .input__widget {
        height: 32px;
        padding: 6px 9px;
        font-size: 14px;
        line-height: 18px;
    }


.input__widget[type="password"] {

}
    .input__widget[type="password"]:not(:placeholder-shown) {
        font-family: "Tahoma", sans-serif;
        letter-spacing: 2px;
    }


.input__widget[type="color"] {

}
    .input__widget[type="color"] {
        width: 100px;
        padding: 4px 8px;
    }

    .input--height-32px .input__widget[type="color"] {
        padding: 1px 4px;
    }


/* Either "appearance: none; width: 100%;" or "width: auto; to reset the width set above" */
.input__widget[type="date"],
.input__widget[type="datetime-local"],
.input__widget[type="week"],
.input__widget[type="month"],
.input__widget[type="time"] {
    width: auto;
}




/* Disabled */
.input__widget:disabled {
    border-color: var(--input-border);
    background-color: var(--disabled-background);
    color: var(--disabled-color);
}

.input__widget:disabled::placeholder {
    color: var(--disabled-color);
}


/* Error */
.input--error {

}
    .input--error .input__widget {
        color: var(--error);
        border-color: var(--error);
    }

    .input--error .input__widget:hover {
        border-color: var(--input-border-focus);
    }

    .input--error .input__widget::placeholder {
        color: var(--error);
    }


/* stylelint-disable */
textarea.input__widget {
    height: auto; /* user rows="" attribute to set a default height */
    min-height: 40px; /* 1 row */
    max-height: calc(10*20px + 2*9px + 2*2px); /* rows + vertical paddings + vertical borders */
    resize: vertical;
}
/* stylelint-enable */


/* stylelint-disable */
.input--height-32px textarea.input__widget {
    height: auto; /* user rows="" attribute to set a default height */
    min-height: 32px; /* 1 row */
    max-height: calc(10*18px + 2*6px + 2*2px); /* rows + vertical paddings + vertical borders */
    resize: vertical;
}
/* stylelint-enable */



select.input__widget {
    appearance: none;
    padding-right: 38px;
    background-image: url("../../images/keyboard_arrow_down.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

select.input__widget:hover {
    box-shadow: none; /* same as base, not hover input */
    border-color: var(--input-border); /* same as base, not hover input */
    background-color: #f6f6f6;
}

/* Disabled */
select.input__widget:disabled {
    background-color: var(--disabled-background);
    cursor: default;
}

.input--height-32px select.input__widget {
    background-position: right 6px center;
}



/* Error */
.input--error select.input__widget {
    background-image: url("../../images/keyboard_arrow_down-error.svg");
}

.input--error select.input__widget:hover {
    border-color: var(--error);
}

.input--placeholder-is-chosen {

}
    .input--placeholder-is-chosen select.input__widget {
        color: var(--placeholder-color);
    }

    .input--placeholder-is-chosen select.input__widget:disabled {
        color: var(--disabled-color);
    }

    .input--placeholder-is-chosen.input--error select.input__widget {
        color: var(--error);
    }
        .input--placeholder-is-chosen select.input__widget option {
            color: #000000; /* Browsers on Windows inherit grey color from <select> to <option>`s. Reset it. */
        }



.input:has(.input__show-password) .input__widget {
    padding-right: 40px;
}
    .input__show-password {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    .input__show-password:active {
        transform: translateY(1px);
    }
        .input__show-password::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .input__show-password:hover::before {
            background-color: var(--hover-over-white);
        }

        .input__eye-on { display: none; }
        .input__eye-off { display: block; }
        .input--password-is-visible .input__eye-on { display: block; }
        .input--password-is-visible .input__eye-off { display: none; }


            .input__show-password .icon {
                position: relative;
                font-size: 18px;
                line-height: 18px;
                color: var(--black);
            }

