.link,
.wysiwyg a {
    display: inline;
    vertical-align: baseline;
    padding: 6px 0; /* Extend the clickable area and ensure the link remains clickable even if the cursor is between lines */
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--blue);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    cursor: pointer;
}

.link:hover,
.wysiwyg a:hover {
    text-decoration-color: transparent;
}

.link:active,
.wysiwyg a:active {
    color: var(--disabled-color);
    transition: none;
}


.link--text-alike,
.wysiwyg .link--text-alike {
    color: inherit;
}


.link--inverted-text-alike,
.wysiwyg .link--inverted-text-alike {
    color: inherit;
    text-decoration-color: transparent;
}

.link--inverted-text-alike:hover,
.wysiwyg .link--inverted-text-alike:hover {
    text-decoration-color: currentColor;
}


.link--no-hover,
.link--no-hover:hover,
.link--no-hover:active,
.wysiwyg .link--no-hover,
.wysiwyg .link--no-hover:hover,
.wysiwyg .link--no-hover:active {
    text-decoration: none;
    color: inherit;
}


.link--fake,
.link--fake:hover,
.link--fake:active,
.wysiwyg .link--fake,
.wysiwyg .link--fake:hover,
.wysiwyg .link--fake:active {
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: inherit;
    cursor: text;
}


.link .icon {
    font-size: inherit;
    line-height: inherit;
}

.link--sup-icon .icon {
    position: relative;
    top: -4px;
    font-size: 0.9em;
}
