.luts {
    padding: var(--checkout-padding) var(--checkout-padding) calc(2 * var(--checkout-padding));
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .luts__heading {

    }

    .luts__body {
        margin-top: 18px;
    }
