.messaging-window {
    --messaging-window-padding: 20px;
    --enter-v-padding: 10px;
    --enter-bottom: 52px;
}

.messaging-window {
    height: 100%;
    display: flex;
    flex-direction: column;
}
    .messaging-window__body {
        position: relative;
        flex-grow: 1;
        min-height: 0; /* Override default "min-height: auto" so the grid item can actually be constrained by height: 100% (below) */
        overflow-y: auto;
        scrollbar-width: thin;
    }
        .messaging-window__ribbon {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 22px;
            padding: 24px var(--messaging-window-padding) 20px;
        }
            .messaging-window__ribbon .message:nth-last-child(2) .message__dropdown,
            .messaging-window__ribbon .message:nth-last-child(1) .message__dropdown {
                top: auto;
                bottom: calc(100% + 2px);
            }

    .messaging-window__field {
        position: relative;
        flex-shrink: 0;
        /* use border to make the padding because of absolutely positioned button inside: */
        border-left: var(--messaging-window-padding) solid transparent;
        border-right: var(--messaging-window-padding) solid transparent;
        border-bottom: 20px solid transparent;
    }
        .messaging-window__field-border {
            padding: 1px;
            border-radius: 20px;
            background-image: linear-gradient(var(--pink), var(--blue));
        }

        /* focus */
        .messaging-window__field-border:has(.messaging-window__input:focus) {
            background-color: var(--blue);
            background-image: none;
        }
            .messaging-window__input {
                vertical-align: top;
                width: 100%;
                height: auto; /* user rows="" attribute to set a default height */
                min-height: 40px; /* 1 row */
                max-height: calc(10 * 20px + 2 * var(--enter-v-padding)); /* rows + paddings */
                scrollbar-width: thin;
                padding: var(--enter-v-padding) 60px var(--enter-v-padding) 12px;
                resize: none;
                background-color: #ffffff; /* reset grey background in some cases, such as <select> */
                background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
                border: none;
                outline: none;
                border-radius: 19px;
                font-family: inherit;
                font-size: 15px;
                line-height: 20px;
                color: var(--black);
                letter-spacing: -0.025em;
                opacity: 1; /* reset select:disabled default fade on iOS */
                -webkit-tap-highlight-color: transparent;
            }

            .messaging-window__input::placeholder {
                opacity: 1; /* reset opacity drop Firefox */
                color: var(--placeholder-color);
            }

            .messaging-window__input:hover {
                border-color: var(--input-border-hover);
            }

            .messaging-window__input:focus-visible {
                border-color: var(--input-border-focus);
                transition: none;
            }

        .messaging-window__submit {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }
            /* background & hover */
            .messaging-window__submit::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                display: block;
                width: 38px;
                height: 38px;
                background-color: var(--pink);
                border-radius: 50%;
            }

            .messaging-window__submit:hover::before {
                background-color: var(--blue);
            }
                .messaging-window__submit .icon {
                    position: relative;
                    left: 2px;
                    color: #ffffff;
                }


/* Disabled */
.messaging-window__input:disabled {
    border-color: var(--input-border);
    background-color: var(--disabled-background);
    color: var(--disabled-color);
}

.messaging-window__input:disabled::placeholder {
    color: var(--disabled-color);
}


/* Error */
.enter--error {

}
.enter--error .messaging-window__input {
    color: var(--error);
    border-color: var(--error);
}

.enter--error .messaging-window__input:hover {
    border-color: var(--input-border-focus);
}

.enter--error .messaging-window__input::placeholder {
    color: var(--error);
}

