.message {
    --message-left: 60px;
    --message-right: 34px;
}

.message {
    position: relative;
    padding-left: var(--message-left);
    padding-right: var(--message-right);
    display: block;
    width: fit-content;
}

.message--actions-expanded {
    z-index: 100;
}

    .message__preview {
        position: absolute;
        left: 0;
        top: 3px;
    }

    .message__bubble {
        padding: 10px;
        background-color: #ececec;
        border-radius: 0 15px 15px;
        font-size: 16px;
        line-height: 22px;
    }

    .message__time {
        overflow: hidden; /* cut link inside */
        margin-top: 8px;
        font-size: 12px;
        line-height: 14px;
    }

    .message__actions {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 22px; /* height of .message__time */
        margin-top: auto;
        margin-bottom: auto;
        width: var(--message-right);
        height: var(--message-right);
        display: none;
    }

    .message:hover .message__actions,
    .message:focus-within .message__actions {
        display: block;
    }

        .message__show-actions {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
            .message__show-actions::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }

            .message__show-actions:hover::before {
                background-color: var(--hover-over-white);
            }

            .message__show-actions .icon {
                position: relative;
                font-size: 20px;
                line-height: 20px;
            }

        .message__dropdown {
            position: absolute;
            right: 0;
            top: calc(100% + 4px);
            display: none;
        }

        .message--actions-expanded .message__dropdown {
            display: block;
        }

.message--self {
    margin-left: auto;
    padding-left: var(--message-right);
    padding-right: var(--message-left);
}
    .message--self .message__bubble {
        background-color: #6f35e1;
        border-radius: 15px 0 15px 15px;
        color: #ffffff;
    }

    .message--self .message__preview {
        left: auto;
        right: 0;
    }

    .message--self .message__actions {
        right: auto;
        left: 0;
    }
