.messaging-window {
    --messaging-window-padding: 20px;
}

.messaging-window {
    height: 100%;
    display: flex;
    flex-direction: column;
}
    .messaging-window__body {
        position: relative;
        flex-grow: 1;
        min-height: 0; /* Override default "min-height: auto" so the grid item can actually be constrained by height: 100% (below) */
        overflow-y: auto;
        scrollbar-width: thin;
    }
        .messaging-window__ribbon {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 22px;
            padding: 24px var(--messaging-window-padding) 20px;
        }
            .messaging-window__ribbon .message:nth-last-child(2) .message__dropdown,
            .messaging-window__ribbon .message:nth-last-child(1) .message__dropdown {
                top: auto;
                bottom: calc(100% + 2px);
            }

    .messaging-window__input {
        flex-shrink: 0;
        padding: 0 var(--messaging-window-padding) 20px;
    }
