/* stylelint-disable */
.notes {
    padding: var(--project-widget-padding);
    padding-bottom: calc(var(--project-widget-padding) + 4px);
    position: relative;
}
/* stylelint-enable */

    .notes__heading {

    }

    .notes__info {
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
    }

    .notes__actions {
        position: absolute;
        right: var(--project-widget-padding);
        top: var(--project-widget-padding);
        display: flex;
        align-items: flex-start;
        gap: 5px;
    }

    .notes__body {
        margin-top: 13px;
        padding: 16px 12px;
        font-style: italic;
    }
