.dropdown__body:has(.notifications) {
    margin-right: -10px;
}

.notifications {
    width: 426px;
    border: 1px solid var(--light-gray);
    background-color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 14px;
}
    .notifications__head {
        display: flex;
        align-items: center;
        padding-top: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--light-gray);
    }
        .notifications__heading {
            padding: 10px 16px;
        }

        .notifications__actions {
            margin-left: auto;
            margin-right: 10px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
        }

    .notifications__body {
        max-height: calc(100vh - 240px);
        overflow-y: auto;
        scrollbar-width: thin;
    }
        .notifications__item {
            position: relative;
            display: block;
            padding: 10px 16px 10px 40px;
            border-top: 1px solid var(--light-gray);
            text-decoration: none;
            color: inherit;
        }

        .notifications__item:first-child {
            border-top: none;
        }

        .notifications__item--unread {
            background-color: #f2ecfb;
            border-top-color: #ffffff;
        }

        .notifications__item--unread + .notifications__item {
            border-top-color: #ffffff;
        }

        .notifications__item:hover {
            background-color: #fdf5fa;
        }

        .notifications__item:active {
            transform: translateY(1px);
        }

            .notifications__icon {
                position: absolute;
                left: 14px;
                top: 13px;
            }
                .notifications__icon .icon {
                    font-size: 18px;
                    line-height: 18px;
                    color: var(--blue);
                }

            .notifications__type {

            }

            .notifications__message {
                margin-top: 7px;
                position: relative;
                font-size: 15px;
                line-height: 18px;
            }
                .notifications__message::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -18px;
                    width: 1px;
                    background-color: var(--light-gray);
                }

            .notifications__time {
                margin-top: 10px;
                display: block;
                font-size: 12px;
                line-height: 16px;
                color: var(--gray);
            }

    .notifications__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 10px 16px;
        background-color: transparent;
        border-top: 1px solid var(--light-gray);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        font-family: inherit;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: inherit;
        color: #dd3699;
        text-decoration: none;
        cursor: pointer;
    }

    .notifications__more:hover {
        background-color: var(--hover-over-white);
    }

    .notifications__more:active {
        transform: translateY(1px);
    }
        .notifications__more .icon {
            font-size: 18px;
            line-height: 18px;
        }
