.null {
    display: flex;
    min-height: 100px;
    background-color: var(--table-header-background);
    border: 1px solid var(--input-border);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
