.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
    .pagination__state {
        margin-left: 4px;
        margin-right: 4px;
    }


    .pagination a,
    .pagination .current,
    .pagination .gap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #ffffff;
        box-shadow: inset 0 0 0 1px var(--input-border);
        border-radius: 8px;
        color: var(--black);
        font-family: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.025em;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
    }

    .pagination a:hover {
        background-color: var(--hover-over-white);
    }

    .pagination .gap {
        width: 24px;
        background-color: transparent;
        box-shadow: none;
        font-style: normal;
        cursor: default;
    }

    .pagination .current {
        background-color: var(--disabled-background);
        box-shadow: none;
        font-style: normal;
        color: var(--disabled-color);
        cursor: default;
    }
