.payment {
    background-color: #ffffff;
    border-radius: var(--radius);
}
    .payment__totals {
        padding: var(--project-subpage-padding);
        padding-bottom: 0;
    }
        .payment__totals-heading {

        }

        .payment__list {
            margin-top: 16px;
        }

    .payment__payment-details {
        margin-top: 40px;
    }

    .payment__payment-details:first-child {
        margin-top: 0;
    }
        .payment__payment-details-heading {
            padding-left: var(--project-subpage-padding);
            padding-right: var(--project-subpage-padding);
        }

        .payment__data {
            padding: var(--project-subpage-with-table-padding);
        }
