.peer {
    position: relative;
    display: block;
    padding: 14px 12px 16px 65px;
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.peer:hover {
    background-color: var(--hover-over-white);
}
    .peer__preview {
        position: absolute;
        left: 13px;
        top: 19px;
    }

    .peer__head {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
        .peer__name {
            font-size: 18px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .peer__time {
            margin-top: 1px;
            flex-shrink: 0;
            font-size: 12px;
            line-height: 16px;
        }


    .peer__message {
        margin-top: 5px;
        font-size: 15px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


.peer--online {

}
    .peer--online .peer__preview::after {
        content: '';
        position: absolute;
        right: -2px;
        bottom: -2px;
        width: 13px;
        height: 13px;
        border: 1px solid #ffffff;
        background-color: #5cca53;
        border-radius: 50%;
    }

.peer--selected,
.peer--selected:hover {
    background-color: #f2ecfb;
    cursor: default;
}
