.preview {
    padding: 24px 21px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 25px;
}
    .preview__body {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding-bottom: 14px;
    }
        .preview__icon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 15px;
        }
            .preview__icon .icon {
                font-weight: 300;
                font-size: 36px;
                line-height: 36px;
            }

        .preview__content {
            align-self: center;
        }
            .preview__heading {
                font-size: 28px;
                line-height: 32px;
            }

            .preview__note {
                margin-top: 2px;
                font-size: 15px;
                line-height: 18px;
            }

            .preview__progress {
                margin-top: 8px;
            }

        .preview__link {
            margin-top: auto;
            min-height: 36px;
            display: flex;
            align-items: flex-end;
            font-size: 15px;
            line-height: 18px;
        }

        .preview__link::first-letter {
            text-transform: uppercase;
        }
            .preview__click-string {

            }

            .preview__gifts-string {

            }



@media (1500px <= width < 1800px) {

    .preview {

    }
        .preview__body {

        }
            .preview__icon {
                width: 50px;
                height: 50px;
                border-radius: 12px;
            }
                .preview__icon .icon {
                    /*font-weight: 300;*/
                    font-size: 30px;
                    line-height: 30px;
                }

            .preview__content {

            }
                .preview__heading {
                    font-size: 22px;
                    line-height: 26px;
                }

                .preview__note {
                    font-size: 14px;
                    line-height: 18px;
                }

                .preview__progress {

                }

            .preview__link {
                font-size: 14px;
                line-height: 18px;
            }
}



@media (width < 1500px) {

    .preview {
        padding: 20px 16px;
        border-radius: 25px;
    }
        .preview__body {
            gap: 7px;
        }
            .preview__icon {
                width: 40px;
                height: 40px;
            }
                .preview__icon .icon {
                    font-size: 24px;
                    line-height: 24px;
                }

            .preview__content {

            }
                .preview__heading {
                    font-size: 22px;
                    line-height: 26px;
                }

                .preview__note {
                    margin-top: 4px;
                    font-size: 14px;
                    line-height: 16px;
                }

                .preview__progress {

                }

            .preview__link {
                font-size: 14px;
                line-height: 16px;
            }
                .preview__click-string {
                    display: none;
                }

                .preview__gifts-string {
                    display: block; /* to make sure first letter below works */
                }

                .preview__gifts-string::first-letter {
                    text-transform: uppercase;
                }
}

