.price {
    background-color: #f7f7f7;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}
    .price__handler {
        position: relative;
        border: none;
        display: block;
        width: 100%;
        padding: 7px 26px 7px 10px;
        background-color: transparent;
        border-radius: 9px;
        font-family: inherit;
        letter-spacing: inherit;
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
        text-align: left;
        cursor: pointer;
    }

    .price__handler:active {
        transform: translateY(1px);
    }
        /* hover */
        .price__handler::before {
            content: "";
            position: absolute;
            inset: 4px;
            border-radius: 3px;
        }

        .price__handler:hover::before {
            background-color: var(--hover-over-gray);
        }

        .price__handler-inner {
            position: relative;
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* chevron */
        .price__handler::after {
            content: "keyboard_arrow_down";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-icons);
            font-size: 18px;
            line-height: 18px;
        }

        .price--expanded .price__handler::after {
            transform: scaleY(-100%);
        }

    .price__dropdown {
        display: none;
    }

    .price--expanded .price__dropdown {
        display: block;
    }

        .price__table {
            vertical-align: top;
            width: 100%;
            border-collapse: collapse;
        }
            .price__row {
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }
                .price__param {
                    padding: 0 16px 0 26px;
                    background-image: linear-gradient(to right, transparent, transparent 16px, var(--light-gray) 16px, var(--light-gray) 17px, transparent 17px, transparent);
                    font-weight: 500;
                    font-size: var(--smaller-font-size);
                    line-height: var(--smaller-line-height);
                    color: var(--gray);
                    white-space: nowrap;
                    text-align: left;
                }

                .price__value {
                    padding: 0 12px 0 2px;
                    font-size: var(--smaller-font-size);
                    line-height: var(--smaller-line-height);
                    color: var(--blue);
                }
                    .price__value .icon {
                        font-size: 18px;
                        line-height: var(--base-line-height);
                    }

            .price__row--total {

            }
                .price__row--total .price__param {
                    background-image: none;
                    padding-top: 12px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    font-size: var(--base-font-size);
                    line-height: var(--base-line-height);
                    color: var(--black);
                }

                .price__row--total .price__value {
                    padding-top: 12px;
                    padding-bottom: 10px;
                    font-size: var(--base-font-size);
                    line-height: var(--base-line-height);
                    color: var(--black);
                }

