.pricing {

}
    .pricing__item {

    }

    .pricing__section {
        margin-top: 24px;
        padding: var(--checkout-padding);
        background-color: #ffffff;
        border-radius: var(--radius);
    }
        .pricing__section-heading {

        }

        .pricing__section-widget {
            margin-top: 12px;
        }
