.project {
    --project-aside-width: calc((100vw - var(--sidebar-outer-width) - 2 * var(--container-padding)) * 4 / 10); /* 4/10 = 40% (of available space) */
}

.project {
    margin-right: var(--project-aside-width);
    padding-right: var(--container-padding);
}
    .project__body {

    }
        .project__notifications {
            margin-bottom: 18px;
        }

        .project__head {
            display: flex;
            align-items: center;
        }
            .project__heading {

            }

            .project__actions {
                margin-left: auto;
                min-height: 40px;
                display: flex;
                align-items: center;
            }

        .project__summary {
            margin-top: 14px;
        }

        .project__navigation {
            margin-top: 18px;
            padding-left: 5px;
            background-color: #ffffff;
            border-radius: 10px;
        }
            .project__nav-scroll {
                overflow: auto;
            }
                .project__ribbon {
                    display: flex;
                    width: fit-content;
                    align-items: flex-start;
                }
                    .project__tab {
                        flex-shrink: 0;
                        position: relative;
                        padding: 24px;
                        font-size: 15px;
                        line-height: 20px;
                        color: var(--gray);
                        text-decoration: none;
                    }
                        .project__tab::before {
                            content: "";
                            position: absolute;
                            inset: 8px 4px;
                            background-color: transparent;
                            border-radius: 8px;
                        }

                        .project__tab:hover::before {
                            background-color: var(--hover-over-white);
                        }

                        .project__tab-label {
                            position: relative;
                        }

                    .project__tab--current {
                        color: var(--blue);
                        cursor: default;
                    }

                        .project__tab--current::before {
                            display: none;
                        }

                        .project__tab--current::after {
                            content: "";
                            position: absolute;
                            left: 8px;
                            right: 8px;
                            bottom: 0;
                            height: 2px;
                            background-color: var(--blue);
                        }

        .project__widget {
            margin-top: 18px;
            padding: 16px 10px 0;
            background-color: #ffffff;
            border-radius: 10px;
        }

        .project__add {
            margin-top: 18px;
        }

    .project__chat {
        position: fixed;
        top: var(--header-height);
        bottom: var(--page-bottom-padding);
        right: var(--container-padding);
        width: var(--project-aside-width);
        padding-top: 20px;
    }
