.range {
    --range-thumb-size: 18px;
}

.range {
    position: relative;
}

.range:has(.range__output) {
    padding-bottom: 8px;
    margin-bottom: -8px;
}
    .range__widget {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 38px; /* height of touch area */
        background: transparent;
        cursor: pointer;
    }

    .range__output {
        position: absolute;
        bottom: 0;
        font-size: 13px;
        line-height: 16px;
        color: var(--blue);
        pointer-events: none;
        white-space: nowrap;
    }

    .range__widget::-webkit-slider-runnable-track {
        height: 4px;
        background-color: var(--light-gray);
        border-radius: 2px;
    }

    .range__widget::-moz-range-track {
        height: 4px;
        background-color: var(--light-gray);
        border-radius: 2px;
    }

    .range__widget::-ms-track {
        height: 4px;
        background-color: var(--light-gray);
        border-radius: 2px;
        border: none;
    }

    /* Ручка */
    .range__widget::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: var(--range-thumb-size);
        height: var(--range-thumb-size);
        margin-top: -7px; /* vertical alignment */
        background-color: var(--black);
        border-radius: 50%;
        cursor: pointer;
    }

    .range__widget::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: var(--range-thumb-size);
        height: var(--range-thumb-size);
        margin-top: -7px; /* vertical alignment */
        background-color: var(--black);
        border-radius: 50%;
        cursor: pointer;
    }

    .range__widget::-ms-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: var(--range-thumb-size);
        height: var(--range-thumb-size);
        margin-top: -7px; /* vertical alignment */
        background-color: var(--black);
        border-radius: 50%;
        cursor: pointer;
    }
