.rating {
    --star-size: 24px;
}

.rating {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.rating:has(.rating__input:focus-visible) {
    outline: 2px solid var(--blue);
    outline-offset: 2px;
}
    .rating__input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        inset: 0;
        margin: 0;
    }

    .rating__label {
        position: relative;
        flex-shrink: 0;
        width: var(--star-size);
        height: var(--star-size);
        cursor: pointer;
    }
        .rating__label::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--light-gray);
            mask-image: url("../../images/star.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }

        .rating__label::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--blue-50pct);
            mask-image: url("../../images/star-outline.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            opacity: 0;
        }

    .rating__label:hover::after,
    .rating__label:hover ~ .rating__label::after {
        opacity: 1;
    }

    .rating__label:has(.rating__input:checked)::before,
    .rating__label:has(.rating__input:checked) ~ .rating__label::before {
        background-color: var(--blue);
    }


.rating--output {
    position: relative;
    width: calc(5 * var(--star-size));
    height: var(--star-size);
    background-color: var(--light-gray);
    mask-image: url("../../images/star.svg");
    mask-size: var(--star-size);
    mask-repeat: repeat-x;
    mask-position: left center;
}
    .rating--output .rating__fill {
        position: absolute;
        inset: 0;
        background-color: var(--blue);
        mask-image: url("../../images/star.svg");
        mask-size: var(--star-size);
        mask-repeat: repeat-x;
        mask-position: left center;
    }
