.scrollable {
    position: relative;
}
    .scrollable__body {
        overflow-x: auto;
    }
        .scrollable__ribbon {
            width: fit-content;
            min-width: 100%;
        }

    .scrollable__action {
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        display: none;
        transition: opacity 200ms ease;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 60px;
        color: inherit;
        cursor: pointer;
    }

    .scrollable__action--prev {
        left: 0;
        background-image: linear-gradient(to right, #ffffff, #ffffff 10%, transparent);
    }

    .scrollable__action--next {
        right: 0;
        background-image: linear-gradient(to left, #ffffff, #ffffff 10%, transparent);
    }


    .scrollable--initialized .scrollable__action {
        display: block;
    }


    .scrollable--scrolled-to-left .scrollable__action--prev {
        opacity: 0;
        visibility: hidden;
    }

    .scrollable--scrolled-to-right .scrollable__action--next {
        opacity: 0;
        visibility: hidden;
    }
        .scrollable__action::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 30px;
            height: 30px;
            background-color: var(--lightest-gray);
            border-radius: 50%;
        }

        .scrollable__action:hover::before {
            background-color: #fdd6ed;
        }

        .scrollable__action .icon {
            position: relative;
            font-size: 18px;
            line-height: 18px;
            color: inherit;
        }

