.scrollable {
    position: relative;
}
    .scrollable__body {
        overflow-x: auto;
    }
        .scrollable__ribbon {
            width: fit-content;
            min-width: 100%;
        }

    .scrollable__action {
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        display: none;
        transition: opacity 200ms ease;
    }

    .scrollable__action--prev {
        left: 0;
    }

    .scrollable__action--next {
        right: 0;
    }


    .scrollable--initialized .scrollable__action {
        display: block;
    }


    .scrollable--scrolled-to-left .scrollable__action--prev {
        opacity: 0;
        visibility: hidden;
    }

    .scrollable--scrolled-to-right .scrollable__action--next {
        opacity: 0;
        visibility: hidden;
    }
