.select-button {
    position: relative;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 1px var(--light-gray);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.select-button:hover {
    background-color: var(--hover-over-white);
}

.select-button:has(.select-button__widget:checked) {
    background-color: var(--blue);
    color: #ffffff;
    box-shadow: none;
}
    .select-button__widget {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
    }



.select-button__icon--plus {

}

.select-button__icon--check {
    display: none;
}


.select-button:has(.select-button__widget:checked) .select-button__icon--plus {
    display: none;
}

.select-button:has(.select-button__widget:checked) .select-button__icon--check {
    display: block;
}

    .select-button__icon .icon {
        font-size: 20px;
        line-height: 20px;
    }
