.share {
    padding-top: 7px;
    padding-bottom: 7px;
}
    .share__inner {
        padding: 27px var(--aside-padding) 22px;
    }
        .share__heading {

        }

        .share__description {
            margin-top: 20px;
            font-size: 15px;
            line-height: 22px;
        }

        .share__widget {
            margin-top: 24px;
            height: 40px;
            background-color: purple;
        }

        .share__footer {
            margin-top: 27px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            .share__details {

            }

            .share__media {
                display: flex;
                align-items: flex-start;
                gap: 10px;
            }
