.tabs {

}
    .tabs__bodies {
        margin-top: 24px;
    }
        .tabs__body {
            display: none;
        }

        .tabs__body--current {
            display: block;
            animation: slide-down 500ms var(--ease-out-quint);
        }
