.talent {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
    .talent__preview {
        flex-shrink: 0;
    }
        .talent__photo {
            vertical-align: top;
            background-color: var(--image-fallback);
            border-radius: 5px;
        }

        a.talent__preview:hover .talent__photo {
            filter: var(--hover-images);
        }

    .talent__body {
        flex-grow: 1;
        min-width: 0; /* Override default "min-width: auto" so the flex item won't stretch over the flex (if filled with longer content) */
    }
        .talent__name {
            display: flex;
            align-items: center;
        }

        .talent__info {
            margin-top: 6px;
            columns: 2;
            column-width: 0;
        }
            .talent__stat {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 28px;
                position: relative;
            }

            @media (width < 1500px) {
                .talent__stat {
                    font-size: var(--smaller-font-size);
                    line-height: var(--smaller-line-height);
                }
            }

                .talent__icon {
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                    .talent__icon .icon {
                        font-size: 18px;
                        line-height: 18px;
                        color: var(--blue);
                    }

                .talent__param {

                }

