.thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}
    .thumbnail__preview {
        position: relative;
        aspect-ratio: 16/9;
        background-color: var(--image-fallback);
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        overflow: hidden; /* cut rounded corners in case of a video */
    }
        .thumbnail__image {
            vertical-align: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a.thumbnail__preview:hover {
            filter: var(--hover-images);
        }

    .thumbnail__body {
        padding: 17px 16px 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
        .thumbnail__heading {

        }

        .thumbnail__description {
            margin-top: 10px;
            min-height: 80px;
            font-size: 15px;
            line-height: 20px;
        }

        .thumbnail__footer {
            margin-top: auto;
            padding-top: 10px;
            display: flex;
            align-items: center;
            gap: 18px;
        }
            .thumbnail__pricing {
                display: flex;
                align-items: baseline;
                gap: 12px;
                font-size: 14px;
                line-height: 18px;
            }
                .thumbnail__total {
                    font-size: 18px;
                    line-height: 22px;
                }

            .thumbnail__button {
                margin-left: auto;
            }
