.title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.title--30px {
    font-size: 30px;
    line-height: 36px;
}

.title--24px {
    font-size: 24px;
    line-height: 30px;
}

.title--18px {
    font-size: 18px;
    line-height: 24px;
}
