.title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
    /* stylelint-disable */
    .title > .explain,
    .title > .icon-action {
        margin: -4px -6px -8px -6px;
    }

    .title > .explain--36px,
    .title > .icon-action--36px {
        margin: -2px -6px -6px -6px;
    }

    .title > .explain--32px,
    .title > .icon-action--32px {
        margin: 0 -6px -4px -6px;
    }
    /* stylelint-enable */


.title--30px {
    font-size: 30px;
    line-height: 36px;
}
    .title--30px > .explain,
    .title--30px > .icon-action {
        margin: -1px -2px -3px -6px;
    }

    .title--30px > .explain--36px,
    .title--30px > .icon-action--36px {
        margin: 1px -2px -1px -6px;
    }

    .title--30px > .explain--32px,
    .title--30px > .icon-action--32px {
        margin: 3px -2px 1px -6px;
    }


.title--24px {
    font-size: 24px;
    line-height: 30px;
}
    .title--24px > .explain,
    .title--24px > .icon-action {
        margin: -4px -4px -6px -6px;
    }

    .title--24px > .explain--36px,
    .title--24px > .icon-action--36px {
        margin: -2px -4px -4px -6px;
    }

    .title--24px > .explain--32px,
    .title--24px > .icon-action--32px {
        margin: 0 -4px -2px -6px;
    }


.title--18px {
    font-size: 18px;
    line-height: 24px;
}
    .title--18px > .explain,
    .title--18px > .icon-action {
        margin: -7px -8px -9px -6px;
    }

    .title--18px > .explain--36px,
    .title--18px > .icon-action--36px {
        margin: -5px -8px -7px -6px;
    }

    .title--18px > .explain--32px,
    .title--18px > .icon-action--32px {
        margin: -3px -8px -5px -6px;
    }


.title__editing {
    display: inline-flex;
    vertical-align: top;
    gap: 8px;
    margin-bottom: -2px;
}
