.title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.title--main {
    font-size: 30px;
    line-height: 36px;
}

.title--side {
    font-size: 24px;
    line-height: 30px;
}
