@keyframes slide-down {

    from {
        opacity: 50%;
        transform: translateY(-8px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}


@keyframes slide-down-longer {

    from {
        opacity: 20%;
        transform: translateY(-40px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}


@keyframes fade-in {

    from {
        opacity: 50%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes zoom-in {

    from {
        transform: scale(95%);
    }

    to {
        transform: scale(100%);
    }
}
