/* stylelint-disable */
.black         { color: var(--black); }
.gray          { color: var(--gray); }
.light-gray    { color: var(--light-gray); }
.lightest-gray { color: var(--lightest-gray); }
.white         { color: #ffffff; }
.blue          { color: var(--blue); }
.pink          { color: var(--pink); }
.green         { color: var(--green); }
.red           { color: var(--red); }

.bg-black         { background-color: var(--black); }
.bg-gray          { background-color: var(--gray); }
.bg-light-gray    { background-color: var(--light-gray); }
.bg-lightest-gray { background-color: var(--lightest-gray); }
.bg-white         { background-color: #ffffff; }
.bg-blue          { background-color: var(--blue); }
.bg-pink          { background-color: var(--pink); }
.bg-green         { background-color: var(--green); }
.bg-red           { background-color: var(--red); }
/* stylelint-enable */


small,
.small {
    font-size: var(--smaller-font-size);
    line-height: var(--smaller-line-height);
}

big,
.big {
    font-size: var(--larger-font-size);
    line-height: var(--larger-line-height);
}

.lead {
    font-size: var(--lead-font-size);
    line-height: var(--lead-line-height);
}


.fw-normal {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

/* boldest one we have */
.fw-semibold {
    font-weight: 600;
}

/* same as semibold, for compatibility */
.fw-bold {
    font-weight: 600;
}

strong,
b {
    font-weight: 600;
}

