.laptop-only {

}

@media (1500px <= width) {

    .laptop-only {
        display: none !important; /* !important is necessary to override any existing display value on what we are trying to hide */
    }
}
