:root {
    --font: "DM Sans", sans-serif;
    --font-heading: "Poppins";
    --font-icons: "Material Symbols Rounded";
    --base-font-size: 15px;
    --base-line-height: 20px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --transition-sidebar: 500ms var(--ease-out-quint);
    --image-fallback: #231e3a;

    --background: #f6f8fa;
    --blue: #670aea;
    --blue-hover: #813ae5;
    --pink: #f2289f;
    --pink-hover: #ef5db3;
    --black: #2d2d2d;
    --black-hover: #3f3f3f;
    --green: #4b9a2f;
    --green-hover: #5cab3f;
    --red: #e35e23;
    --red-hover: #f2743d;
    --gray: #76839c;
    --light-gray: #d5d5d5;
    --hover-over-white: #f9fafb; /* matching with body background */
    --hover-over-body: #fbe8f3; /* matching with body background */
    --input-border: var(--light-gray);
    --input-border-hover: #8c8c8c;
    --input-border-focus: var(--blue);
    --placeholder-color: #999999;
    --disabled-background: #ececec;
    --disabled-color: #737373;
    --error: #ff0033;

    --table-header-background: #f6f6f6;
    --table-header-hover: #eeeeee;
    --shadow: 0 0 7px rgb(0 0 0 / 10%);
    --shadow-light: 0 0 4px rgb(0 0 0 / 5%);

    --header-height: 126px;
    --page-bottom-padding: 48px;
    --sidebar-outer-width: 114px;
    --sidebar-inner-width: 36px;
    --container-padding: 32px;
    --chat-padding: 20px;
    --aside-width: 300px;
    --aside-padding: 20px;
}

.sidebar-expanded {
    --sidebar-outer-width: 300px;
    --sidebar-inner-width: 222px;
}



@media (width < 1500px) {

    :root {
        --header-height: 96px;
        --sidebar-outer-width: 92px;
        --sidebar-inner-width: 36px;
        --container-padding: 24px;
        --aside-width: 260px;
        --aside-padding: 16px;
    }

    .sidebar-expanded {
        --sidebar-outer-width: 260px;
        --sidebar-inner-width: 210px;
    }
}
