.ts-control {
	--item-padding: 4px;
	--tom-tag-height: 28px;
}

.ts-control {
	gap: 4px;
	height: var(--input-height);
	padding: 5px var(--input-h-padding); /* 40px tall, same as default widget */
	border-radius: var(--input-radius);
	border-color: var(--input-border);
}

.ts-control:has(.item) {
	padding-left: 5px; /* original input padding is too big for the case when there is a selected item */
}

.ts-control:hover {
	border-color: var(--input-border-hover);
}

.focus .ts-control {
	border-color: var(--input-border-focus);
}

.ts-wrapper.multi.has-items .ts-control {
	/*padding: calc(8px - 2px - 0) 8px calc(8px - 2px - 3px - 0);*/
}
.full .ts-control {
	/*background-color: #fff;*/
}

.focus .ts-control {
	/*box-shadow: none;*/
}
.ts-control > * {
	/*vertical-align: baseline;*/
	/*display: inline-block;*/
}
.ts-wrapper.multi .ts-control > div.item {
	margin: 0;
	padding: 0 10px !important;
	height: var(--tom-tag-height);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--lightest-gray);
	border-radius: calc(var(--tom-tag-height) / 2);
	color: var(--black);
	white-space: nowrap;
}

.ts-wrapper.multi .ts-control > div.active {
	background: var(--light-gray);
	color: var(--black);
}

.ts-wrapper.multi.disabled .ts-control > div,
.ts-wrapper.multi.disabled .ts-control > div.active {
	color: var(--disabled-color);
	background: var(--light-gray);
	/*border: 0 solid white;*/
}



.ts-wrapper.single .ts-control {
	appearance: none;
	padding-left: var(--input-h-padding);
	padding-right: 38px;
	background-image: url("../../images/keyboard_arrow_down.svg") !important;
	background-size: 20px 20px !important;
	background-repeat: no-repeat !important;
	background-position: right 10px center !important;
	cursor: pointer;
}


/* Disabled */
.ts-wrapper.single.disabled .ts-control {
	background-color: var(--disabled-background);
}


.ts-wrapper.single .ts-control > div.item {
	height: var(--tom-tag-height);
	display: flex;
	align-items: center;
	justify-content: center;
}




.ts-control > input {
	font-family: inherit;
	font-size: var(--input-font-size);
	line-height: calc(var(--input-line-height) + 8px) !important; /* same as added items */
	letter-spacing: inherit;
	color: var(--black);
}

.ts-control > input::placeholder {
	color: var(--placeholder-color);
}

.disabled .ts-control,
.disabled .ts-control:hover,
.disabled.focus .ts-control {
	opacity: 100%;
	background-color: var(--disabled-background);
	color: var(--disabled-color);
	border-color: var(--input-border);
}

.ts-dropdown {
	margin-top: 10px;
	border: 1px solid #d5d5d5;
	padding-top: 13px;
	padding-bottom: 13px;
	box-shadow: var(--shadow);
	border-radius: 15px;
}

.ts-dropdown [data-selectable] .highlight {
	/*background: rgba(125, 168, 208, 0.2);*/
	/*border-radius: 1px;*/
}

.ts-dropdown .option,
.ts-dropdown .optgroup-header,
.ts-dropdown .no-results,
.ts-dropdown .create {
	/*padding: 5px 8px;*/
}
.ts-dropdown .option,
.ts-dropdown [data-disabled],
.ts-dropdown [data-disabled] [data-selectable].option {
	/*cursor: inherit;*/
	/*opacity: 0.5;*/
}

.ts-dropdown [data-selectable].option {
	padding: 7px 24px 7px 16px;
	font-size: 15px;
	line-height: 20px;
	color: var(--black);
}

.ts-dropdown .active {
	background-color: var(--hover-over-white);
	color: var(--gray);
}
.ts-dropdown .active.create {
	/*color: #495c68;*/
}
.ts-dropdown .create {
	/*color: rgba(48, 48, 48, 0.5);*/
}
.ts-dropdown .spinner {
	/*display: inline-block;*/
	/*width: 30px;*/
	/*height: 30px;*/
	/*margin: 5px 8px;*/
}
.ts-dropdown .spinner::after {
	/*content: " ";*/
	/*display: block;*/
	/*width: 24px;*/
	/*height: 24px;*/
	/*margin: 3px;*/
	/*border-radius: 50%;*/
	/*border: 5px solid #d0d0d0;*/
	/*border-color: #d0d0d0 transparent #d0d0d0 transparent;*/
	/*animation: lds-dual-ring 1.2s linear infinite;*/
}
/*@keyframes lds-dual-ring {*/
/*	0% {*/
/*		transform: rotate(0deg);*/
/*	}*/
/*	100% {*/
/*		transform: rotate(360deg);*/
/*	}*/
/*}*/

.ts-dropdown-content {
	/*overflow: hidden auto;*/
	/*max-height: 200px;*/
	/*scroll-behavior: smooth;*/
}

.ts-wrapper.plugin-drag_drop .ts-dragging {
	/*color: transparent !important;*/
}
.ts-wrapper.plugin-drag_drop .ts-dragging > * {
	/*visibility: hidden !important;*/
}

.plugin-checkbox_options:not(.rtl) .option input {
	/*margin-right: 0.5rem;*/
}


/* stylelint-disable function-name-case */
.plugin-clear_button {
	/*--ts-pr-clear-button: 1em;*/
}
.plugin-clear_button .clear-button {
	/*opacity: 0;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*right: calc(8px - 6px);*/
	/*margin-right: 0 !important;*/
	/*background: transparent !important;*/
	/*transition: opacity 0.5s;*/
	/*cursor: pointer;*/
}
.plugin-clear_button.form-select .clear-button,
.plugin-clear_button.single .clear-button {
	/*right: max(var(--ts-pr-caret), 8px);*/
}
.plugin-clear_button.focus.has-items .clear-button,
.plugin-clear_button:not(.disabled):hover.has-items .clear-button {
	/*opacity: 1;*/
}

.ts-wrapper .dropdown-header {
	/*position: relative;*/
	/*padding: 10px 8px;*/
	/*border-bottom: 1px solid #d0d0d0;*/
	/*background: color-mix(#fff, #d0d0d0, 85%);*/
	/*border-radius: 3px 3px 0 0;*/
}
.ts-wrapper .dropdown-header-close {
	/*position: absolute;*/
	/*right: 8px;*/
	/*top: 50%;*/
	/*color: #303030;*/
	/*opacity: 0.4;*/
	/*margin-top: -12px;*/
	/*line-height: 20px;*/
	/*font-size: 20px !important;*/
}
.ts-wrapper .dropdown-header-close:hover {
	/*color: black;*/
}


.ts-dropdown.plugin-optgroup_columns .ts-dropdown-content {
	/*display: flex;*/
}

.ts-wrapper.plugin-remove_button .item .remove {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 28px;
	margin-right: -10px;
	height: var(--tom-tag-height);
	background-color: transparent;
	border-left: none !important;
	border-top-right-radius: calc(var(--tom-tag-height) / 2);
	border-bottom-right-radius: calc(var(--tom-tag-height) / 2);
	text-indent: 500%;
	white-space: nowrap;
	overflow: hidden;
}
.ts-wrapper.plugin-remove_button .item .remove:hover {
	background-color: var(--light-gray);
}
	/* separator */
	.ts-wrapper.plugin-remove_button .item .remove::before {
		content: "";
		position: absolute;
		left: 0;
		top: 7px;
		bottom: 7px;
		width: 1px;
		background-color: var(--light-gray);
	}

	/* cross icon */
	.ts-wrapper.plugin-remove_button .item .remove::after {
		content: "";
		position: absolute;
		inset: 0 2px 0 0;
		background-color: var(--black);
		mask-image: url("../../images/close_small.svg");
		mask-size: 20px 20px;
		mask-repeat: no-repeat;
		mask-position: center center;
	}

	.ts-wrapper.plugin-remove_button .item .remove:active::after {
		transform: translateY(1px);
	}

    .disabled.ts-wrapper.plugin-remove_button .item .remove {
		display: none !important;
	}



.ts-dropdown,
.ts-control,
.ts-control input {
	font-size: var(--input-font-size);
	line-height: var(--input-line-height);
}


.ts-wrapper .create {
	color: var(--gray);
}
	.ts-wrapper .create strong {
		font-weight: 600;
	}

.ts-wrapper .no-results {
	padding-top: 12px !important;
	padding-bottom: 4px;
	font-size: var(--smaller-font-size);
	line-height: var(--smaller-line-height);
}

/* Cursor */

.ts-control,
.ts-control > input {
	cursor: text !important;
}

.ts-control-readonly .ts-control,
.ts-control-readonly .ts-control > input {
	cursor: pointer !important;
}

.ts-control-readonly .ts-control:hover {
	border-color: var(--input-border); /* same as base, not hover input */
	background-color: #f6f6f6;
}


.clear-tom-select {

}
	.clear-tom-select .ts-control {
		border-color: transparent;
		border-radius: calc(var(--input-height) / 2);
	}
