.ts-control {
	--item-padding: 4px;
	--tom-tag-height: 28px;
}

.ts-control {
	gap: 4px;
	height: var(--input-height);
	padding: 5px var(--input-h-padding); /* 40px tall, same as default widget */
	border-radius: var(--input-radius);
	border-color: var(--input-border);
}

.ts-control:has(.item) {
	padding-left: 5px; /* original input padding is too big for the case when there is a selected item */
}

.ts-control:hover {
	border-color: var(--input-border-hover);
}

.focus .ts-control {
	border-color: var(--input-border-focus);
}

.ts-wrapper.multi.has-items .ts-control {
	/*padding: calc(8px - 2px - 0) 8px calc(8px - 2px - 3px - 0);*/
}
.full .ts-control {
	/*background-color: #fff;*/
}

.focus .ts-control {
	/*box-shadow: none;*/
}
.ts-control > * {
	/*vertical-align: baseline;*/
	/*display: inline-block;*/
}
.ts-wrapper.multi .ts-control > div.item {
	margin: 0;
	padding: 0 10px !important;
	height: var(--tom-tag-height);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--lightest-gray);
	border-radius: calc(var(--tom-tag-height) / 2);
	color: var(--black);
	white-space: nowrap;
}

.ts-wrapper.multi .ts-control > div.active {
	background: var(--light-gray);
	color: var(--black);
}

.ts-wrapper.multi.disabled .ts-control > div,
.ts-wrapper.multi.disabled .ts-control > div.active {
	color: var(--disabled-color);
	background: var(--light-gray);
	/*border: 0 solid white;*/
}

.ts-wrapper.single .ts-control {
	padding-left: var(--input-h-padding);
	padding-right: var(--input-h-padding);
}

.ts-wrapper.single .ts-control > div.item {
	height: var(--tom-tag-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ts-control > input {
	font-family: inherit;
	font-size: var(--input-font-size);
	line-height: calc(var(--input-line-height) + 8px) !important; /* same as added items */
	letter-spacing: inherit;
	color: var(--black);
}

.ts-control > input::placeholder {
	color: var(--placeholder-color);
}

.ts-control > input::-ms-clear {
	/*display: none;*/
}
.ts-control > input:focus {
	/*outline: none !important;*/
}
.has-items .ts-control > input {
	/*margin: 0 4px !important;*/
}
/*margin: 0 4px 0 -2px !important;*/
.disabled .ts-control,
.disabled .ts-control:hover,
.disabled.focus .ts-control {
	opacity: 100%;
	background-color: var(--disabled-background);
	color: var(--disabled-color);
	border-color: var(--input-border);
}

.input-hidden .ts-control > input {
	/*opacity: 0;*/
	/*position: absolute;*/
	/*left: -10000px;*/
}

.ts-dropdown {
	/*position: absolute;*/
	/*top: 100%;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*z-index: 10;*/
	/*border: 1px solid #d0d0d0;*/
	/*background: #fff;*/
	/*margin: 0.25rem 0 0;*/
	/*border-top: 0 none;*/
	/*box-sizing: border-box;*/
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/
	/*border-radius: 0 0 3px 3px;*/
}
.ts-dropdown [data-selectable] {
	/*cursor: pointer;*/
	/*overflow: hidden;*/
}
.ts-dropdown [data-selectable] .highlight {
	/*background: rgba(125, 168, 208, 0.2);*/
	/*border-radius: 1px;*/
}
.ts-dropdown .option,
.ts-dropdown .optgroup-header,
.ts-dropdown .no-results,
.ts-dropdown .create {
	/*padding: 5px 8px;*/
}
.ts-dropdown .option,
.ts-dropdown [data-disabled],
.ts-dropdown [data-disabled] [data-selectable].option {
	/*cursor: inherit;*/
	/*opacity: 0.5;*/
}
.ts-dropdown [data-selectable].option {
	/*opacity: 1;*/
	/*cursor: pointer;*/
}
.ts-dropdown .optgroup:first-child .optgroup-header {
	/*border-top: 0 none;*/
}
.ts-dropdown .optgroup-header {
	/*color: #303030;*/
	/*background: #fff;*/
	/*cursor: default;*/
}
.ts-dropdown .active {
	/*background-color: #f5fafd;*/
	/*color: #495c68;*/
}
.ts-dropdown .active.create {
	/*color: #495c68;*/
}
.ts-dropdown .create {
	/*color: rgba(48, 48, 48, 0.5);*/
}
.ts-dropdown .spinner {
	/*display: inline-block;*/
	/*width: 30px;*/
	/*height: 30px;*/
	/*margin: 5px 8px;*/
}
.ts-dropdown .spinner::after {
	/*content: " ";*/
	/*display: block;*/
	/*width: 24px;*/
	/*height: 24px;*/
	/*margin: 3px;*/
	/*border-radius: 50%;*/
	/*border: 5px solid #d0d0d0;*/
	/*border-color: #d0d0d0 transparent #d0d0d0 transparent;*/
	/*animation: lds-dual-ring 1.2s linear infinite;*/
}
/*@keyframes lds-dual-ring {*/
/*	0% {*/
/*		transform: rotate(0deg);*/
/*	}*/
/*	100% {*/
/*		transform: rotate(360deg);*/
/*	}*/
/*}*/

.ts-dropdown-content {
	/*overflow: hidden auto;*/
	/*max-height: 200px;*/
	/*scroll-behavior: smooth;*/
}

.ts-wrapper.plugin-drag_drop .ts-dragging {
	/*color: transparent !important;*/
}
.ts-wrapper.plugin-drag_drop .ts-dragging > * {
	/*visibility: hidden !important;*/
}

.plugin-checkbox_options:not(.rtl) .option input {
	/*margin-right: 0.5rem;*/
}


/* stylelint-disable function-name-case */
.plugin-clear_button {
	/*--ts-pr-clear-button: 1em;*/
}
.plugin-clear_button .clear-button {
	/*opacity: 0;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*right: calc(8px - 6px);*/
	/*margin-right: 0 !important;*/
	/*background: transparent !important;*/
	/*transition: opacity 0.5s;*/
	/*cursor: pointer;*/
}
.plugin-clear_button.form-select .clear-button,
.plugin-clear_button.single .clear-button {
	/*right: max(var(--ts-pr-caret), 8px);*/
}
.plugin-clear_button.focus.has-items .clear-button,
.plugin-clear_button:not(.disabled):hover.has-items .clear-button {
	/*opacity: 1;*/
}

.ts-wrapper .dropdown-header {
	/*position: relative;*/
	/*padding: 10px 8px;*/
	/*border-bottom: 1px solid #d0d0d0;*/
	/*background: color-mix(#fff, #d0d0d0, 85%);*/
	/*border-radius: 3px 3px 0 0;*/
}
.ts-wrapper .dropdown-header-close {
	/*position: absolute;*/
	/*right: 8px;*/
	/*top: 50%;*/
	/*color: #303030;*/
	/*opacity: 0.4;*/
	/*margin-top: -12px;*/
	/*line-height: 20px;*/
	/*font-size: 20px !important;*/
}
.ts-wrapper .dropdown-header-close:hover {
	/*color: black;*/
}

.plugin-dropdown_input.focus.dropdown-active .ts-control {
	/*box-shadow: none;*/
	/*border: 1px solid #d0d0d0;*/
}
.plugin-dropdown_input .dropdown-input {
	/*border: 1px solid #d0d0d0;*/
	/*border-width: 0 0 1px;*/
	/*display: block;*/
	/*padding: 8px 8px;*/
	/*box-shadow: none;*/
	/*width: 100%;*/
	/*background: transparent;*/
}
.plugin-dropdown_input .items-placeholder {
	/*border: 0 none !important;*/
	/*box-shadow: none !important;*/
	/*width: 100%;*/
}
.plugin-dropdown_input.has-items .items-placeholder,
.plugin-dropdown_input.dropdown-active .items-placeholder {
	/*display: none !important;*/
}

.ts-wrapper.plugin-input_autogrow.has-items .ts-control > input {
	/*min-width: 0;*/
}
.ts-wrapper.plugin-input_autogrow.has-items.focus .ts-control > input {
	/*flex: none;*/
	/*min-width: 4px;*/
}
.ts-wrapper.plugin-input_autogrow.has-items.focus .ts-control > input::-ms-input-placeholder {
	/*color: transparent;*/
}
.ts-wrapper.plugin-input_autogrow.has-items.focus .ts-control > input::placeholder {
	/*color: transparent;*/
}

.ts-dropdown.plugin-optgroup_columns .ts-dropdown-content {
	/*display: flex;*/
}
.ts-dropdown.plugin-optgroup_columns .optgroup {
	/*border-right: 1px solid #f2f2f2;*/
	/*border-top: 0 none;*/
	/*flex-grow: 1;*/
	/*flex-basis: 0;*/
	/*min-width: 0;*/
}
.ts-dropdown.plugin-optgroup_columns .optgroup:last-child {
	/*border-right: 0 none;*/
}
.ts-dropdown.plugin-optgroup_columns .optgroup::before {
	/*display: none;*/
}
.ts-dropdown.plugin-optgroup_columns .optgroup-header {
	/*border-top: 0 none;*/
}

.ts-wrapper.plugin-remove_button .item {
	/*display: inline-flex;*/
	/*align-items: center;*/
}
.ts-wrapper.plugin-remove_button .item .remove {
	position: relative;
	/*vertical-align: middle;*/
	/*display: inline-block;*/
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 28px;
	margin-right: -10px;
	height: var(--tom-tag-height);
	background-color: transparent;
	border-left: none !important;
	border-top-right-radius: calc(var(--tom-tag-height) / 2);
	border-bottom-right-radius: calc(var(--tom-tag-height) / 2);
	text-indent: 500%;
	white-space: nowrap;
	overflow: hidden;
	/*box-sizing: border-box;*/
}
.ts-wrapper.plugin-remove_button .item .remove:hover {
	background-color: var(--light-gray);
}

.ts-wrapper.plugin-remove_button.disabled .item .remove:hover {
	/*background: none;*/
}
	/* separator */
	.ts-wrapper.plugin-remove_button .item .remove::before {
		content: "";
		position: absolute;
		left: 0;
		top: 7px;
		bottom: 7px;
		width: 1px;
		background-color: var(--light-gray);
	}

	/* cross icon */
	.ts-wrapper.plugin-remove_button .item .remove::after {
		content: "";
		position: absolute;
		inset: 0 2px 0 0;
		background-color: var(--black);
		mask-image: url("../../images/close_small.svg");
		mask-size: 20px 20px;
		mask-repeat: no-repeat;
		mask-position: center center;
	}

	.ts-wrapper.plugin-remove_button .item .remove:active::after {
		transform: translateY(1px);
	}

    .disabled.ts-wrapper.plugin-remove_button .item .remove {
		display: none !important;
	}

.ts-wrapper.plugin-remove_button .remove-single {
	/*position: absolute;*/
	/*right: 0;*/
	/*top: 0;*/
	/*font-size: 23px;*/
}


:root {
	/*--ts-pr-clear-button: 0;*/
	/*--ts-pr-caret: 0;*/
	/*--ts-pr-min: .75rem;*/
}

.ts-wrapper.single .ts-control,
.ts-wrapper.single .ts-control input {
	/*cursor: pointer;*/
}

.ts-control:not(.rtl) {
	/*padding-right: max(var(--ts-pr-min), var(--ts-pr-clear-button) + var(--ts-pr-caret)) !important;*/
}


.ts-wrapper {
	/*position: relative;*/
}

.ts-dropdown,
.ts-control,
.ts-control input {
	font-size: var(--input-font-size);
	line-height: var(--input-line-height);
}

.ts-control,
.ts-wrapper.single.input-active .ts-control {
	/*background: #fff;*/
	/*cursor: text;*/
}

.ts-hidden-accessible {
	/*border: 0 !important;*/
	/*clip: rect(0 0 0 0) !important;*/
	/*-webkit-clip-path: inset(50%) !important;*/
	/*clip-path: inset(50%) !important;*/
	/*overflow: hidden !important;*/
	/*padding: 0 !important;*/
	/*position: absolute !important;*/
	/*width: 1px !important;*/
	/*white-space: nowrap !important;*/
}
/*# sourceMappingURL=tom-select.css.map */



/* Cursor */

.ts-control,
.ts-control > input {
	cursor: text !important;
}

.ts-control-readonly .ts-control,
.ts-control-readonly .ts-control > input {
	cursor: pointer !important;
}

