body {
    height: 100%;
    background-color: #f6f8fa;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    letter-spacing: -0.025em;
    color: var(--black);
}
