.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: fit-content;
    border: none;
    padding: 12px 24px;
    min-width: 100px;
    background-color: var(--blue);
    border-radius: 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: var(--blue-hover);
}


.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: var(--disabled-background);
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}
    .button .icon {
        margin-left: -6px;
        margin-right: -6px;
        font-size: 18px;
        line-height: 20px;
    }


.button--pink {
    background-color: var(--pink);
}

.button--pink:hover {
    background-color: var(--pink-hover);
}


.button--black {
    background-color: var(--black);
}

.button--black:hover {
    background-color: var(--black-hover);
}


.button--green {
    background-color: var(--green);
}

.button--green:hover {
    background-color: var(--green-hover);
}


.button--red {
    background-color: var(--red);
}

.button--red:hover {
    background-color: var(--red-hover);
}


.button--light-gray-outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--input-border);
    color: #2d2d2d;
}

.button--light-gray-outline:hover {
    background-color: var(--hover-over-white);
}



.button--square {
    min-width: 0;
    width: 44px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}

.button--smaller {
    min-width: 90px;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 18px;
}

.button--micro {
    min-width: 80px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 18px;
}

