.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    border: none;
    padding: 12px 24px;
    min-width: 100px;
    background-color: var(--blue);
    border-radius: 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: var(--blue-hover);
}


.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: var(--disabled-background);
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}
    .button .icon {
        font-size: 18px;
        line-height: 20px;
    }


.button--pink {
    background-color: var(--pink);
}

.button--pink:hover {
    background-color: var(--pink-hover);
}


.button--black {
    background-color: var(--black);
}

.button--black:hover {
    background-color: var(--black-hover);
}


.button--smaller {
    min-width: 60px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 18px;
}

