.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: fit-content;
    border: none;
    padding: 11px 20px;
    min-width: 90px;
    background-color: var(--blue);
    border-radius: 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    letter-spacing: -0.025em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: var(--blue-hover);
}


.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active,
.button.button--disabled,
.button.button--disabled:hover,
.button.button--disabled:active
{
    background-color: var(--disabled-background);
    box-shadow: none; /* cancel border in outlined buttons */
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}
    .button .icon {
        margin-left: -6px;
        margin-right: -6px;
        font-size: 1.2em;
        line-height: inherit;
    }

    .button__svg-icon {
        vertical-align: top;
        margin-left: -6px;
        margin-right: -6px;
        width: 18px;
        height: 18px;
        scale: 120%; /* because svg icons are smaller */
        fill: currentColor;
    }


.button--pink {
    background-color: var(--pink);
}

.button--pink:hover {
    background-color: var(--pink-hover);
}


.button--black {
    background-color: var(--black);
}

.button--black:hover {
    background-color: var(--black-hover);
}


.button--green {
    background-color: var(--green);
}

.button--green:hover {
    background-color: var(--green-hover);
}


.button--red {
    background-color: var(--red);
}

.button--red:hover {
    background-color: var(--red-hover);
}


.button--light-gray-outline {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px var(--input-border);
    color: #2d2d2d;
}

.button--light-gray-outline:hover {
    background-color: var(--hover-over-white);
}


.button--square {
    min-width: 0;
    width: 40px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}


.button--height-44px,
.button--input-height {
    gap: 14px;
    min-width: 100px;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 20px;
}

.button--height-44px.button--square,
.button--input-height.button--square {
    min-width: 0;
    width: 44px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}


.button--height-36px {
    gap: 10px;
    min-width: 76px;
    padding: 9px 15px;
    font-size: 14px;
    line-height: 18px;
}

.button--height-36px.button--square {
    min-width: 0;
    width: 36px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}


.button--height-30px {
    gap: 10px;
    min-width: 70px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 18px;
}

.button--height-30px.button--square {
    min-width: 0;
    width: 30px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}

.button--height-24px {
    gap: 10px;
    min-width: 60px;
    padding: 3px 14px;
    font-size: 15px;
    line-height: 18px;
}

.button--height-24px.button--square {
    min-width: 0;
    width: 24px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
}

