.channels {
    padding-top: 7px;
    padding-bottom: 7px;
}
    .channels__inner {
        padding-top: 22px;
        padding-bottom: 22px;
    }
        .channels__heading {
            padding: 5px var(--aside-padding) 10px;
        }

        .channels__item {
            display: flex;
            align-items: center;
            gap: 11px;
            width: 100%;
            padding: 6px var(--aside-padding);
            border: none;
            background-color: transparent;
            font-size: 15px;
            line-height: 22px;
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }

        .channels__item:hover {
            background-color: var(--hover-over-white);
        }
            .channels__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34px;
                height: 34px;
                background-color: #ffffff;
                border: 1px solid #d5d5d5;
                border-radius: 8px;
            }
                .channels__icon .icon {
                    font-size: 18px;
                    line-height: 18px;
                }



@media (width < 1500px) {

    .channels {
        /*padding-top: 7px;*/
        /*padding-bottom: 7px;*/
    }
        .channels__inner {
            /*padding-top: 22px;*/
            /*padding-bottom: 22px;*/
        }
            .channels__heading {
                /*padding: 5px var(--aside-padding) 10px;*/
            }

            .channels__item {
                /*display: flex;*/
                /*align-items: center;*/
                /*gap: 11px;*/
                /*width: 100%;*/
                /*padding: 6px var(--aside-padding);*/
                /*border: none;*/
                /*background-color: transparent;*/
                /*font-size: 14px;*/
                /*line-height: 18px;*/
                /*color: inherit;*/
                /*text-decoration: none;*/
                /*cursor: pointer;*/
            }

            .channels__item:hover {
                /*background-color: var(--hover-over-white);*/
            }
                .channels__icon {
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    /*width: 34px;*/
                    /*height: 34px;*/
                    /*background-color: #ffffff;*/
                    /*border: 1px solid #d5d5d5;*/
                    /*border-radius: 8px;*/
                }
                    .channels__icon .icon {
                        /*font-size: 18px;*/
                        /*line-height: 18px;*/
                    }
}
