.choice {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    width: fit-content;
    min-width: 20px;
    min-height: 40px;
    padding: 9px 12px;
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 22px;
    color: #2d2d2d;
    user-select: none;
    cursor: pointer;
}

.choice:hover {
    background-color: var(--hover-over-white);
    border-color: var(--input-border-hover-and-focus);
}

.choice:has(.choice__widget[type="radio"]:checked) {
    cursor: default;
}

.choice:has(.choice__widget[type="radio"]:checked):hover {
    background-color: transparent;
}

    .choice__icon {

    }

    /* stylelint-disable */
    .choice__icon--unchecked { display: inline; }
    .choice__icon--checked { display: none; }
    .choice__widget:checked ~ .choice__icon--unchecked { display: none; }
    .choice__widget:checked ~ .choice__icon--checked { display: block; }
    /* stylelint-enable */

        .choice__icon .icon {
            font-size: 16px;
            line-height: 22px;
        }


    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__label {

    }



/* Focused */

.choice:has(.choice__widget:focus-visible) {
    outline: auto;
}


/* Disabled */
.choice:has(.choice__widget:disabled) {
    color: var(--disabled-color);
    cursor: default;
}

.choice:has(.choice__widget:disabled):hover {
    background-color: transparent;
}




.choice--full-width {
    width: 100%;
}



/*.choice--bolder {*/

/*}*/
/*    .choice--bolder .choice__label {*/
/*        font-weight: 600;*/
/*        font-size: 13px;*/
/*        line-height: 20px;*/
/*    }*/


