.choice {
    --choice-outset: 16px;
}

.choice {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: fit-content;
    padding: 9px var(--choice-outset);
    margin-left: calc(-1 * var(--choice-outset));
    margin-right: calc(-1 * var(--choice-outset));
    border-radius: 5px;
    font-size: 15px;
    line-height: 22px;
    color: #2d2d2d;
    user-select: none;
    cursor: pointer;
}
    .choice__icon {
        margin-left: -2px; /* because icon has some white space inside */
    }

    /* stylelint-disable */
    .choice__icon--unchecked { display: inline; }
    .choice__icon--checked { display: none; }
    .choice__widget:checked ~ .choice__icon--unchecked { display: none; }
    .choice__widget:checked ~ .choice__icon--checked { display: block; }
    /* stylelint-enable */

        .choice__icon .icon {
            font-size: 18px;
            line-height: 22px;
        }

    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__label {

    }


/* Hover */
.choice:hover {
    background-color: var(--hover-over-white);
    border-color: var(--input-border-focus);
}

/* Checked */
.choice:has(.choice__widget:checked) {
    color: var(--blue);
}


/* Disable hover on checked radio button */
.choice:has(.choice__widget[type="radio"]:checked) {
    cursor: default;
}

.choice:has(.choice__widget[type="radio"]:checked):hover {
    background-color: transparent;
}


/* Focused */
.choice:has(.choice__widget:focus-visible) {
    outline: auto;
}


/* Disabled */
.choice:has(.choice__widget:disabled) {
    color: var(--disabled-color);
    cursor: default;
}

.choice:has(.choice__widget:disabled):hover {
    background-color: transparent;
}


/* Full width */
.choice--full-width {
    width: calc(100% + 2 * var(--choice-outset));
}


/* Input Alike */
.choice--input-alike {
    --choice-outset: 0;
}

.choice--input-alike {
    box-shadow: inset 0 0 0 1px var(--input-border);
    padding: 9px 13px;
    gap: 6px;
}

.choice--input-alike:has(.choice__widget:checked) {
    box-shadow: inset 0 0 0 1px var(--blue);
    color: var(--blue);
}
    .choice--input-alike .icon {
        font-size: 16px;
    }





/* Smaller */

.choice--smaller {
    --choice-outset: 12px;
}

.choice--smaller {
    padding-top: 5px;
    padding-bottom: 5px;
}



/* Gray */

.choice--gray {
    color: #76839c;
}
