.create {
    position: relative;
}
    .create__handler {

    }
        .create__handler .button {
            box-shadow: var(--shadow);
        }

    .create__dropdown {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: calc(100% + 5px);
        display: none;
    }

    .create--expanded .create__dropdown {
        display: block;
    }

        .create__variant {
            margin-bottom: 5px;
        }
            .create__variant .button {
                width: 100%;
            }

        .create__close {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
