.dashboard {

}
    .dashboard__heading {

    }

    .dashboard__notification {
        margin-top: 14px;
    }

    .dashboard__summary {
        margin-top: 17px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 20px;
    }

    @media (width < 1500px) {
        .dashboard__summary {
            gap: 12px;
        }
    }

    .dashboard__message {
        margin-top: 32px;
    }

    .dashboard__widget {
        margin-top: 32px;
    }
        .dashboard__widget-panel {
            padding: 23px 14px 0;
            background-color: #ffffff;
            border-radius: 10px;
        }
            .dashboard__widget-heading {

            }

            .dashboard__widget-body {
                margin-top: 18px;
                padding-bottom: 15px;
            }

            .dashboard__widget-body:has(.table) {
                padding-bottom: 0;
            }

            .dashboard__widget-pagination {
                margin-top: 20px;
            }
