.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: var(--sidebar-outer-width);
    transition: left var(--transition-sidebar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    background-color: var(--background);
}
    .header::before {
        content: ""; /* pusher */
        height: 100%;
    }

    .header__search {
        width: 584px;
        flex-shrink: 0;
    }

    .header__operations {
        display: flex;
        align-items: center;
    }
        .header__action {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            text-decoration: none;
            color: inherit;
        }
            .header__action::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50%;
            }

            .header__action:hover::before {
                background-color: var(--hover-over-body);
            }

            .header__action .icon {
                position: relative;
                font-size: 22px;
            }

            .header__action-counter {
                position: absolute;
                left: calc(50% + 3px);
                top: -4px;
            }

        .header__new-project {
            margin-left: 16px;
        }

        .header__user {
            margin-left: 24px;
        }


@media (width < 1500px) {
    .header__search {
        width: 440px;
    }
}
