.nav {
    --nav-more-width: 21px;
}
    .nav__section {
        position: relative;
    }
        .nav__link {
            display: block;
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nav__link:hover {
            background-color: var(--transparent-action-hover);
        }
            .nav__container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--sidebar-inner-width);
                height: var(--sidebar-inner-width);
                box-shadow: inset 0 0 0 1px #d5d5d5;
                background-color: #ffffff;
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
                line-height: 24px;
                color: #2d2d2d;
            }

            .nav__link--current .nav__container {
                background-color: var(--action-color);
                box-shadow: none;
                color: #ffffff;
            }


            .nav__link .icon {
                font-size: 18px;
            }

            .nav__label {
                display: none;
            }

        .nav__more {
            position: absolute;
            left: calc(50% + var(--sidebar-inner-width) / 2);
            top: calc(50% - var(--sidebar-inner-width) / 2);
            width: var(--nav-more-width);
            height: var(--sidebar-inner-width);
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            display: none;
        }

        .nav__section:has(.nav__link--current) .nav__more {
            display: block;
        }
            .nav__more::before {
                content: "";
                position: absolute;
                inset: 0 2px;
                border-radius: 6px;
            }

            .nav__more:hover::before {
                background-color: var(--transparent-action-hover);
            }

            /* icon */
            .nav__more::after {
                content: "more_vert";
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: var(--font-icons);
                text-indent: 0;
            }

        .nav__sub-menu {
            display: none;
            position: absolute;
            z-index: 10;
            left: calc(50% + var(--sidebar-inner-width) / 2 + var(--nav-more-width));
            top: 7px;
        }

        .nav__section--expanded .nav__sub-menu {
            display: block;
        }
            .nav__sub-menu .nav__link {
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .nav__sub-menu .nav__link:hover {
                background-color: transparent;
            }
                .nav__sub-menu .nav__container {

                }

                .nav__sub-menu .nav__link:hover .nav__container {
                    background-color: var(--transparent-action-hover);
                }



.sidebar-expanded {
    .nav {

    }
        .nav__section {

        }
            .nav__link {
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav__link:hover {
                background-color: var(--transparent-action-hover);
            }
                .nav__container {
                    /*position: relative;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*width: var(--sidebar-inner-width);*/
                    box-shadow: none;
                    border-radius: 0;
                    justify-content: flex-start;
                    height: auto;
                    gap: 10px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: transparent;
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*font-size: 16px;*/
                    /*line-height: 24px;*/
                    /*color: #2d2d2d;*/
                }

                .nav__link .icon {
                    /*font-size: 18px;*/
                }

                .nav__label {
                    display: block;
                }

                .nav__link--current .nav__container {
                    background-color: transparent;
                    color: var(--action-color);
                }

                .nav__section:has(.nav__sub-menu) > .nav__link > .nav__container::after {
                    content: "keyboard_arrow_down";
                    position: absolute;
                    right: 0;
                    top: 11px;
                    font-family: var(--font-icons);
                    font-size: 18px;
                    line-height: 18px;
                }

                .nav__section:has(.nav__sub-menu):has(.nav__link--current) > .nav__link > .nav__container::after {
                    transform: scaleY(-100%);
                }


            .nav__more {
                display: none !important;
            }

            .nav__sub-menu {
                display: none;
                position: static;
            }

            .nav__section:has(.nav__link--current) .nav__sub-menu {
                display: block;
            }

                .nav__sub-menu .nav__link {

                }
                    .nav__sub-menu .nav__container {
                        padding-left: 26px;
                        gap: 8px;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        background-image: linear-gradient(to right, transparent, transparent 8px, #d5d5d5 8px, #d5d5d5 9px, transparent 6px, transparent);
                        font-size: 15px;
                        line-height: 22px;
                    }

                    .nav__sub-menu .nav__link:hover .nav__container {
                        background-color: transparent;
                    }
}



