:root {
    --font: "DM Sans", sans-serif;
    --font-heading: "Poppins";
    --font-icons: "Material Symbols Outlined";
    --base-font-size: 15px;
    --base-line-height: 20px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #231e3a;

    /*--container-padding: 40px;*/
    --action-color: #6f35e1;
    --action-color-hover: #b301fe;
    --secondary-action: #2d2d2d;
    --secondary-action-hover: #3f3f3f;
    --transparent-action-hover: #f9fafb; /* matching with body background */
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    --disabled-background: #dadee4;
    --disabled-color: #76839c;
    /*--error: #FF0033;*/

    --sidebar-outer-width: 114px;
    --sidebar-inner-width: 36px;
}


.sidebar-expanded {
    --sidebar-outer-width: 300px;
    --sidebar-inner-width: 222px;
}
