:root {
    --font: "DM Sans", sans-serif;
    --font-heading: "Poppins";
    --font-icons: "Material Symbols Outlined";
    --base-font-size: 15px;
    --base-line-height: 20px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #231e3a;
    --nav-hover: rgb(45 45 45 / 4%);

    --sidebar-widget-width: 222px;
    /*--container-padding: 40px;*/
    --action-color: #7035e1;
    --action-color-hover: #b301fe;
    --secondary-action: #2d2d2d;
    --secondary-action-hover: #3f3f3f;
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    --disabled-background: #dadee4;
    --disabled-color: #76839c;
    /*--error: #FF0033;*/

    --sidebar: 300px;
}

@media (350px <= width < 740px) {
    :root {
        --container-padding: 24px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
