.search {
    position: relative;
}
    .search__input {
        vertical-align: top;
        width: 100%;
        height: 52px;
        padding: 14px 100px 14px 19px;
        background-color: #ffffff; /* reset grey background in some cases, such as <select> */
        background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: 1px solid var(--input-border);
        outline: none;
        border-radius: 26px;
        font-family: inherit;
        font-size: 16px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
        line-height: 22px;
        color: var(--black);
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
    }

    .search__input::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: var(--placeholder-color);
    }

    .search__input:hover {
        border-color: var(--input-border-hover-and-focus);
    }

    .search__input:focus-visible {
        border-color: var(--input-border-hover-and-focus);
        box-shadow: 0 0 0 1px var(--input-border-hover-and-focus);
        transition: none;
    }

    .search__filter {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
        .search__handler {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 22px;
            border: none;
            background-color: transparent;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
            /* hover */
            .search__handler::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: 4px;
                border-radius: 22px;
            }

            .search__handler:hover::before {
                background-color: var(--hover-over-white);
            }

            .search__output {
                position: relative;
            }

            /* chevron */
            .search__handler::after {
                content: "keyboard_arrow_down";
                position: relative;
                margin-left: 4px;
                flex-shrink: 0;
                font-family: var(--font-icons);
                font-size: 18px;
                line-height: 18px;
            }

            .search__filter--expanded .user__handler::after {
                transform: scaleY(-100%);
            }


        .search__dropdown {
            position: absolute;
            right: 0;
            top: calc(100% + 8px);
            /*display: none;*/
        }

        .search--expanded .search__dropdown {
            display: block;
        }
