.search {

}
    .search__input {
        vertical-align: top;
        width: 100%;
        height: 44px;
        padding: 10px 19px;
        background-color: #ffffff; /* reset grey background in some cases, such as <select> */
        background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: 1px solid var(--input-border);
        outline: none;
        border-radius: 22px;
        font-family: inherit;
        font-size: 16px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
        line-height: 22px;
        color: var(--black);
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
    }

    .input__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: var(--placeholder-color);
    }

    .input__widget:hover {
        border-color: var(--input-border-hover-and-focus);
    }

    .input__widget:focus-visible {
        border-color: var(--input-border-hover-and-focus);
        box-shadow: 0 0 0 1px var(--input-border-hover-and-focus);
        transition: none;
    }
