.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-outer-width);
    padding-top: 30px;
    padding-bottom: 60px;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: #ffffff;
}
    .sidebar__logo {
        width: 64px;
        height: 64px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../images/logo@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .sidebar__nav {
        margin-top: 27px;
    }

    .sidebar__info {
        margin-top: 63px;
        margin-left: auto;
        margin-right: auto;
        width: var(--sidebar-inner-width);
    }


.sidebar-expanded {

}
    .sidebar-expanded .sidebar__logo {
        width: 82px;
        height: 82px;
    }
