.sort {
    position: relative;
    width: fit-content;
}
    .sort__handler {

    }

    .sort__dropdown {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 100%;
        padding-top: 15px;
        background-color: #ffffff;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }
        .sort__list {

        }
            .sort__dropdown .choice {
                --choice-outset: 0;
            }

            .sort__dropdown .choice {
                padding-left: 18px;
                min-width: 160px;
                padding-right: 24px;
                border-radius: 0;
            }


        .sort__submit {
            padding: 12px 18px 24px;
        }
            .sort__submit .button {
                position: relative;
            }
                /*.make clickable area larger */
                .sort__submit .button::before {
                    content: "";
                    position: absolute;
                    inset: -6px;
                }
