.sort {
    position: relative;
    width: fit-content;
}
    .sort__handler {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 4px;
        background-color: transparent;
        border: none;
        padding: 8px 12px;
        margin: -8px -12px;
        color: inherit;
        cursor: pointer;
        border-radius: 6px;
    }

    .sort__handler:hover {
        background-color: var(--table-header-hover);
    }
        .sort__order {
            margin: -4px;
            padding: 4px;
            border-radius: 4px;
        }

        .sort__order--descending {

        }

        .sort__order--ascending {

        }

        .sort__order--ascending {
            transform: scaleY(-1);
        }

        .sort__order:hover {
            background-color: #e2e2e2;
        }
            .sort__order .icon {
                font-size: 16px;
                line-height: 16px;
            }

    .sort__dropdown {
        position: absolute;
        z-index: 10;
        right: 0;
        top: calc(100% + 8px);
        padding-top: 15px;
        background-color: #ffffff;
        box-shadow: var(--shadow);
        border-radius: 10px;
        display: none;
    }

    .sort--expanded .sort__dropdown {
        display: block;
    }

        .sort__list {

        }
            .sort__dropdown .choice {
                --choice-outset: 0;
            }

            .sort__dropdown .choice {
                padding-left: 18px;
                min-width: 160px;
                padding-right: 24px;
                border-radius: 0;
            }


        .sort__submit {
            padding: 12px 18px 24px;
        }
            .sort__submit .button {
                position: relative;
            }
                /*.make clickable area larger */
                .sort__submit .button::before {
                    content: "";
                    position: absolute;
                    inset: -6px;
                }
