.sort {
    position: relative;
    width: fit-content;
    margin: -8px -12px;
}
    .sort__handler {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 4px;
        background-color: transparent;
        border: none;
        padding: 8px 28px 8px 12px;
        font-size: 15px;
        line-height: 18px;
        color: inherit;
        cursor: pointer;
        border-radius: 6px;
    }

    .sort__handler:hover {
        background-color: var(--table-header-hover);
    }

    .sort__order {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
    }

    .sort__order--descending {

    }

    .sort__order--ascending {
        transform: scaleY(-1);
    }

    .sort__order::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .sort__order:hover::before {
        background-color: var(--table-header-hover);
    }
        .sort__order .icon {
            position: relative;
            font-size: 16px;
            line-height: 16px;
        }

    .sort__dropdown {
        position: absolute;
        z-index: 10;
        right: 0;
        top: calc(100% + 8px);
        padding-top: 15px;
        background-color: #ffffff;
        box-shadow: var(--shadow);
        border-radius: 10px;
        display: none;
    }

    .sort--expanded .sort__dropdown {
        display: block;
    }

        .sort__list {

        }
            .sort__dropdown .choice {
                --choice-outset: 0;
            }

            .sort__dropdown .choice {
                padding-left: 18px;
                min-width: 160px;
                padding-right: 24px;
                border-radius: 0;
            }


        .sort__apply {
            padding: 12px 18px 24px;
        }
            .sort__apply .button {
                position: relative;
            }
                /*.make clickable area larger */
                .sort__apply .button::before {
                    content: "";
                    position: absolute;
                    inset: -6px;
                }
