.table {
    --table-cell-padding: 15px;
}

.table {
    vertical-align: top;
    width: 100%;
    border-collapse: collapse;
}
    .table__section {

    }

    .table__section--head {

    }

    .table__section--body {

    }
        .table__row {

        }
            .table__section--body .table__cell {
                padding: 25px var(--table-cell-padding);
                border: 1px solid #e2e2e2;
                font-size: 15px;
                line-height: 18px;
            }

            .table__section--body .table__cell--heading-column {
                text-align: left;
            }

            .table__section--body .table__cell:first-child {
                border-left: none;
            }

            .table__section--body .table__cell:last-child {
                border-right: none;
            }

            .table__section--body .table__row:first-child .table__cell {
                border-top: none;
            }

            .table__section--body .table__row:last-child .table__cell {
                border-bottom: none;
            }


            .table__section--head {

            }

            .table__section--head .table__cell {
                position: relative;
                padding: 16px var(--table-cell-padding);
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
            }

            .table__section--head .table__cell::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: var(--table-header-background);
                border-top: 1px solid #d5d5d5;
                border-bottom: 1px solid #d5d5d5;
            }

            .table__section--head .table__cell:first-child::before {
                left: 5px;
            }

            .table__section--head .table__cell:last-child::before {
                right: 5px;
            }

            .table__section--head .table__cell:first-child::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 5px;
                background-color: var(--table-header-background);
                border-left: 1px solid #d5d5d5;
                border-top: 1px solid #d5d5d5;
                border-bottom: 1px solid #d5d5d5;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .table__section--head .table__cell:last-child::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 5px;
                background-color: var(--table-header-background);
                border-right: 1px solid #d5d5d5;
                border-top: 1px solid #d5d5d5;
                border-bottom: 1px solid #d5d5d5;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
                .table__label {
                    position: relative;
                }


@media (width < 1500px) {
    .table {
        --table-cell-padding: 12px;
    }
}
