/* Poppins (headings) */

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}


/* DM Sans (main text) */

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/dm-sans-v16-latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-700.woff2") format("woff2");
}


/* Material icons */

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/font.woff2") format("woff2");
}
