.label {
    display: block; /* In case it is being followed by button or smaller input. We want it to be on a new line. */
    width: fit-content; /* Specify clickable area */
    padding-bottom: 7px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}
