.progress {
    height: 4px;
    background-color: #ebc9eb;
    border-radius: 2px;
    overflow: hidden;
}
    .progress__bar {
        height: 100%;
        background-image: linear-gradient(to right, var(--blue), var(--pink));
    }
