.sidebar {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-outer-width);
    transition: width var(--transition-sidebar);
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #ffffff;
}
    .sidebar__logo {
        width: 64px;
        height: 64px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../images/logo@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .sidebar__nav {
        margin-top: 27px;
    }

    .sidebar__info {
        display: none;
    }




.sidebar-expanded .sidebar {
    overflow-y: auto;
    scrollbar-width: thin;
}
    .sidebar-expanded .sidebar__logo {
        width: 82px;
        height: 82px;
    }

    .sidebar__nav {

    }

    .sidebar-expanded .sidebar__info {
        display: block;
        margin-top: 63px;
        margin-left: auto;
        margin-right: auto;
        width: var(--sidebar-inner-width);
    }



@media (width < 1500px) {

    .sidebar {

    }
        .sidebar__logo {
            width: 52px;
            height: 52px;
        }

        .sidebar__nav {

        }

        .sidebar__info {

        }




    .sidebar-expanded .sidebar {

    }
        .sidebar-expanded .sidebar__logo {

        }

        .sidebar__nav {

        }

        .sidebar-expanded .sidebar__info {

        }
}
