.user {
    position: relative;
}
    .user__handler {
        display: flex;
        align-items: center;
        border: none;
        padding: 0 12px 0 0;
        margin-right: -12px;
        background-color: transparent;
        border-radius: 22px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .user__handler:hover {
        background-color: var(--hover-over-body);
    }

    .user__handler:active {
        transform: translateY(1px);
    }
        .user__preview {
            display: block;
            padding: 2px;
            background-color: var(--pink);
            border-radius: 50%;
        }
            .user__photo {
                vertical-align: top;
                border-radius: 50%;
                background-color: var(--image-fallback);
            }

        .user__name {
            margin-left: 14px;
            flex-shrink: 0;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            white-space: nowrap;
        }

        .user__handler::after {
            content: "keyboard_arrow_down";
            margin-left: 4px;
            flex-shrink: 0;
            font-family: var(--font-icons);
            font-size: 18px;
            line-height: 18px;
        }

        .user--expanded .user__handler::after {
            transform: scaleY(-100%);
        }

    .user__edit {
        position: absolute;
        left: 24px;
        top: -11px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid transparent;
        background-clip: padding-box;
        background-color: blue;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 400ms var(--ease-out-quint);
    }

    .user__edit:hover {
        transform: scale(120%);
    }

    .user__edit:active {
        margin-top: 1px;
    }

    /* .user__handler and .user__edit are not connected, but it looks weird when .user__handler pressed and moved 1px down but .user__edit doesn't follow */
    .user:has(.user__handler:active) .user__edit {
        margin-top: 1px;
    }
        .user__edit .icon {
            font-size: 11px;
            line-height: 11px;
            color: #ffffff;
        }

    .user__dropdown {
        position: absolute;
        right: 0;
        top: calc(100% + 8px);
        display: none;
    }

    .user--expanded .user__dropdown {
        display: block;
    }
