<!DOCTYPE html>
<html class="sidebar-expanded" lang="en">
    <head>
        <!-- Vendors (feel free to add them via Rails gems, composer, webpack/vite or any other package manager) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/filepond@4.30.6/dist/filepond.min.css">
        <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
        <script type="module" src="../scripts/vendors.js"></script>

        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wanderlust</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">

        <!-- assets -->
        <link rel="stylesheet" href="../styles/styles.css">
        <script type="module" src="../scripts/scripts.js"></script>

    </head>
    <body>

        <div class="sidebar">
            <div class="sidebar__logo">
                Wanderlust
            </div>
            <div class="sidebar__nav">
                <nav class="nav">
                    <div class="nav__section">
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">grid_view</i>
                                <div class="nav__label">Dashboard</div>
                            </div>
                        </a>
                    </div>
                    <div class="nav__section">
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">new_label</i>
                                <div class="nav__label">New Project</div>
                            </div>
                        </a>
                        <button class="nav__more" type="button">
                            Toggle sub menu
                        </button>
                        <div class="nav__sub-menu">
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">diamond_shine</i>
                                    <div class="nav__label">Pro Project</div>
                                </div>
                            </a>
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">star</i>
                                    <div class="nav__label">Lite Project</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nav__section">
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">bookmark</i>
                                <div class="nav__label">My Projects</div>
                            </div>
                        </a>
                        <button class="nav__more" type="button">
                            Toggle sub menu
                        </button>
                        <div class="nav__sub-menu">
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">cycle</i>
                                    <div class="nav__label">All Projects</div>
                                </div>
                            </a>
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">rotate_right</i>
                                    <div class="nav__label">In Progress (2)</div>
                                </div>
                            </a>
                            <a class="nav__link nav__link--current" href="#">
                                <div class="nav__container">
                                    <i class="icon">alarm_pause</i>
                                    <div class="nav__label">Pending Feedback</div>
                                </div>
                            </a>
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">arrow_upload_progress</i>
                                    <div class="nav__label">Pending Footage</div>
                                </div>
                            </a>
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">draft_orders</i>
                                    <div class="nav__label">Drafts</div>
                                </div>
                            </a>
                            <a class="nav__link" href="#">
                                <div class="nav__container">
                                    <i class="icon">done_all</i>
                                    <div class="nav__label">Completed</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nav__section">
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">mail</i>
                                <div class="nav__label">Inbox</div>
                            </div>
                        </a>
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">handshake</i>
                                <div class="nav__label">Onboarding Questionnaire</div>
                            </div>
                        </a>
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">cloud</i>
                                <div class="nav__label">WanderDrive</div>
                            </div>
                        </a>
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">camera</i>
                                <div class="nav__label">Technical Template</div>
                            </div>
                        </a>
                        <a class="nav__link" href="#">
                            <div class="nav__container">
                                <i class="icon">redeem</i>
                                <div class="nav__label">Gifts</div>
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="sidebar__info">
                <div class="info">
                    <div class="info__background">
                        <div class="info__pre-heading">
                            Introducing
                        </div>
                        <div class="info__heading">
                            AfterWrap<br> Socials
                        </div>
                        <div class="info__message">
                            <div class="wysiwyg">
                                <p>Reclaim your time by offloading your social media editing.</p>
                                <p>We’ll cut, polish, and optimize your videos so you can focus on posting and growing your audience.</p>
                            </div>
                        </div>
                        <div class="info__action">
                            <button class="button button--height-44px">
                                Learn more
                                <i class="icon">east</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="sidebar-toggler">
            <span class="sidebar-toggler__inner">
                Toggle sidebar
            </span>
        </button>
        <header class="header">
            <div class="header__search">
                <div class="search">
                    <input class="search__input" type="text" placeholder="Search">
                    <div class="search__filter">
                        <button class="search__handler" type="button">
                            <span class="search__output">All</span>
                        </button>
                        <div class="search__dropdown">
                            <div class="menu">
                                <a class="menu__item menu__item--current" href="#">
                                    <i class="icon">settings</i>
                                    All
                                </a>
                                <a class="menu__item" href="#">
                                    <i class="icon">savings</i>
                                    Lorem Ipsum
                                </a>
                                <a class="menu__item" href="#">
                                    <i class="icon">logout</i>
                                    Dolor Sit Amen
                                </a>
                                <div class="menu__close">
                                    <button class="button button--height-32px button--black" type="button">
                                        <i class="icon">close</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__operations">
                <a class="header__action" href="#">
                    <i class="icon">mail</i>
                    <div class="header__action-counter">
                        <div class="counter counter--bubble">2</div>
                    </div>
                </a>
                <a class="header__action" href="#">
                    <i class="icon">notifications_active</i>
                    <div class="header__action-counter">
                        <div class="counter counter--bubble counter--pink">999</div>
                    </div>
                </a>
                <div class="header__new-project">
                    <div class="create">
                        <div class="create__handler">
                            <button class="button button--height-44px" type="button">
                                <i class="icon">add</i>
                                New Project
                            </button>
                        </div>
                        <div class="create__dropdown">
                            <div class="create__variants">
                                <a class="button" href="#">
                                    <i class="icon">diamond_shine</i>
                                    PRO Project
                                </a>
                                <a class="button" href="#">
                                    <i class="icon">star</i>
                                    PRO Project
                                </a>
                            </div>
                            <div class="create__close">
                                <button class="button button--height-32px button--black" type="button">
                                    <i class="icon">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__user">
                    <div class="user">
                        <button class="user__handler" type="button">
                            <div class="user__preview">
                                <img class="user__photo"
                                     srcset="../temp/avatars/avatar-40x40@2x.jpg 2x"
                                     src="../temp/avatars/avatar-40x40@1x.jpg"
                                     width="40"
                                     height="40"
                                     alt=""
                                >
                            </div>
                            <span class="user__name">
                                Client Name
                            </span>
                        </button>
                        <button class="user__edit" type="button">
                            <i class="icon">edit</i>
                        </button>
                        <div class="user__dropdown">
                            <div class="menu">
                                <a class="menu__item menu__item--current" href="#">
                                    <i class="icon">settings</i>
                                    Manage Account
                                </a>
                                <a class="menu__item" href="#">
                                    <i class="icon">savings</i>
                                    WanderCoins
                                </a>
                                <a class="menu__item" href="#">
                                    <i class="icon">logout</i>
                                    Logout
                                </a>
                                <div class="menu__close">
                                    <button class="button button--height-32px button--black" type="button">
                                        <i class="icon">close</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <main class="content__body">
                <div class="checkout">
                    <div class="checkout__heading">
                        <h1 class="title title--30px">
                            New Project
                        </h1>
                    </div>
                    <div class="checkout__description">
                        Tip: You are creating a PRO project. If you need less customization and faster turnaround time, choose a <a class="link" href="#">LITE project</a>
                    </div>
                    <div class="checkout__navigation">
                        <div class="inner-nav">
                            <div class="inner-nav__scroll hide-scrollbar">
                                <div class="inner-nav__ribbon">
                                    <a class="inner-nav__tab inner-nav__tab--current" href="#">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">forms_add_on</i>
                                            Basic Information
                                        </div>
                                    </a>
                                    <a class="inner-nav__tab" href="#">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">video_call</i>
                                            Video Catalog
                                        </div>
                                    </a>
                                    <a class="inner-nav__tab" href="#">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">add_card</i>
                                            Checkout
                                        </div>
                                    </a>
                                    <div class="inner-nav__tab inner-nav__tab--disabled">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">center_focus_strong</i>
                                            References
                                        </div>
                                    </div>
                                    <div class="inner-nav__tab inner-nav__tab--disabled">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">shutter_speed</i>
                                            Technical Template
                                        </div>
                                    </div>
                                    <div class="inner-nav__tab inner-nav__tab--disabled">
                                        <div class="inner-nav__tab-label">
                                            <i class="icon">cloud_upload</i>
                                            Footage Files
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__body">
                        <div class="checkout__content">
                            <div class="checkout__step">
                                <section class="basics">
                                    <div class="basics__heading">
                                        <h2 class="title">Enter your project’s basic information below</h2>
                                    </div>
                                    <div class="basics__form">
                                        <div class="form">
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="project-name">
                                                        Project Name:
                                                    </label>
                                                </div>
                                                <div class="form__field">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <input class="input__widget" type="text" id="project-name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="footage-size">
                                                        Estimated Footage File Size:
                                                    </label>
                                                </div>
                                                <div class="form__field form__field--halved">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <select class="input__widget" id="footage-size">
                                                                <option value="placeholder" selected>Choose</option>
                                                                <option>100GB</option>
                                                                <option>200GB</option>
                                                                <option>...</option>
                                                                <option>1TB (1000GB)</option>
                                                            </select>
                                                        </div>
                                                        <div class="helper">
                                                            Base price includes 1 TB (1000GB) footage file size
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="language">
                                                        Language:
                                                    </label>
                                                </div>
                                                <div class="form__field form__field--halved">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <select class="input__widget" id="language">
                                                                <option value="placeholder" selected>Choose</option>
                                                                <option>English</option>
                                                                <option>Spanish</option>
                                                                <option>...</option>
                                                                <option>Thai</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="editing-platform">
                                                        Preferred Editing Platform:
                                                    </label>
                                                </div>
                                                <div class="form__field">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <select class="input__widget" id="editing-platform">
                                                                <option value="placeholder" selected>Choose</option>
                                                                <option>DaVinchi</option>
                                                                <option>Spanish</option>
                                                                <option>...</option>
                                                                <option>FinalCut</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="event-duration">
                                                        Event Duration:
                                                    </label>
                                                </div>
                                                <div class="form__field form__field--halved">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <select class="input__widget" id="event-duration">
                                                                <option value="placeholder" selected>Choose</option>
                                                                <option>30 min</option>
                                                                <option>60 min</option>
                                                                <option>...</option>
                                                                <option>2 hours</option>
                                                            </select>
                                                        </div>
                                                        <div class="helper">
                                                            Base price includes 1 day
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__label">
                                                    <label class="label label--inline" for="wedding-date">
                                                        Wedding Date:
                                                    </label>
                                                </div>
                                                <div class="form__field form__field--halved">
                                                    <div class="form__widget">
                                                        <div class="input">
                                                            <input class="input__widget" type="text" id="wedding-date" placeholder="Choose">
                                                            <div class="input__icon">
                                                                <i class="icon">calendar_month</i>
                                                            </div>
                                                        </div>
                                                        <div class="helper">
                                                            Base price includes 1 day
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="checkout__footer">
                                <div class="checkout__save-draft">
                                    <a class="button button--black button--height-44px" href="#">
                                        Save as draft <i class="icon">save</i>
                                    </a>
                                </div>
                                <div class="checkout__next">
                                    <a class="button button--height-44px" href="#">
                                        <i class="icon">west</i> Back
                                    </a>
                                    <a class="button button--height-44px" href="#">
                                        Next <i class="icon">east</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__aside">
                            <section class="most-popular">
                                <div class="most-popular__heading">
                                    <h2 class="title">Most Popular Videos</h2>
                                </div>
                                <div class="most-popular__list">
                                    <article class="thumbnail">
                                        <a class="thumbnail__preview" href="#">
                                            <img class="thumbnail__image" src="https://picsum.photos/558/320?random=1" alt="">
                                            <i class="play" aria-hidden="true"></i>
                                        </a>
                                        <div class="thumbnail__body">
                                            <div class="thumbnail__heading">
                                                <h3 class="title">
                                                    <a class="link link--inverted-text-alike" href="#">Highlights Film</a>
                                                </h3>
                                            </div>
                                            <div class="thumbnail__description">
                                                Relive the magic with a cinematic highlight of the wedding’s best moments, complete with soundtracks, speeches, voiceovers, and SFX.
                                            </div>
                                            <div class="thumbnail__zoom">
                                                <a class="button button--square" href="#">
                                                    <i class="icon">frame_inspect</i>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="thumbnail">
                                        <a class="thumbnail__preview" href="#">
                                            <img class="thumbnail__image" src="https://picsum.photos/558/320?random=2" alt="">
                                            <i class="play" aria-hidden="true"></i>
                                        </a>
                                        <div class="thumbnail__body">
                                            <div class="thumbnail__heading">
                                                <h3 class="title">
                                                    <a class="link link--inverted-text-alike" href="#">Highlights Film</a>
                                                </h3>
                                            </div>
                                            <div class="thumbnail__description">
                                                Relive the magic with a cinematic highlight of the wedding’s best moments, complete with soundtracks, speeches, voiceovers, and SFX.
                                            </div>
                                            <div class="thumbnail__zoom">
                                                <a class="button button--square" href="#">
                                                    <i class="icon">frame_inspect</i>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="thumbnail">
                                        <a class="thumbnail__preview" href="#">
                                            <img class="thumbnail__image" src="https://picsum.photos/558/320?random=3" alt="">
                                            <i class="play" aria-hidden="true"></i>
                                        </a>
                                        <div class="thumbnail__body">
                                            <div class="thumbnail__heading">
                                                <h3 class="title">
                                                    <a class="link link--inverted-text-alike" href="#">Highlights Film</a>
                                                </h3>
                                            </div>
                                            <div class="thumbnail__description">
                                                Relive the magic with a cinematic highlight of the wedding’s best moments, complete with soundtracks, speeches, voiceovers, and SFX.
                                            </div>
                                            <div class="thumbnail__zoom">
                                                <a class="button button--square" href="#">
                                                    <i class="icon">frame_inspect</i>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="thumbnail">
                                        <a class="thumbnail__preview" href="#">
                                            <img class="thumbnail__image" src="https://picsum.photos/558/320?random=4" alt="">
                                            <i class="play" aria-hidden="true"></i>
                                        </a>
                                        <div class="thumbnail__body">
                                            <div class="thumbnail__heading">
                                                <h3 class="title">
                                                    <a class="link link--inverted-text-alike" href="#">Highlights Film</a>
                                                </h3>
                                            </div>
                                            <div class="thumbnail__description">
                                                Relive the magic with a cinematic highlight of the wedding’s best moments, complete with soundtracks, speeches, voiceovers, and SFX.
                                            </div>
                                            <div class="thumbnail__zoom">
                                                <a class="button button--square" href="#">
                                                    <i class="icon">frame_inspect</i>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="most-popular__more">
                                    <a class="button button--height-44px" href="#">Looking for more options? Click here!</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </body>
</html>


















